Repository northpolesec/santa, pull requests merged in 2024-10, with the labels that each got.

#6 Hook up CS INVALIDATED event
  Source/santad/EventProviders/SNTEndpointSecurityRecorder.mm
  Source/santad/EventProviders/SNTEndpointSecurityRecorderTest.mm
  Source/santad/Metrics.mm
  Source/santad/MetricsTest.mm
Labels: daemon, recorder, telemetry

#7 cleanup legacy components
  BUILD
  Conf/Package/package_and_sign.sh
  Conf/Package/postinstall
  Conf/Package/preinstall
  Conf/com.northpolesec.santad.plist
  Conf/install.sh
  Conf/uninstall.sh
  Source/gui/main.m
  Source/santad/main.mm
Labels: build, cleanup

#17 Fix tree aware clients handleContextMessage default return
  Source/santad/BUILD
  Source/santad/EventProviders/SNTEndpointSecurityClientBase.h
  Source/santad/EventProviders/SNTEndpointSecurityTreeAwareClient.mm
  Source/santad/EventProviders/SNTEndpointSecurityTreeAwareClientTest.mm
Labels: cleanup, 🧪 testing

#19 installer: support side-by-side install of NPS Santa [1/2]
  BUILD
  Conf/Package/package.sh
  Conf/Package/package_and_sign.sh
  Conf/Package/postinstall
  Conf/Package/preinstall
Labels: build

#20 installer: support side-by-side install of NPS Santa [2/3]
  Conf/Package/postinstall
  Source/santad/BUILD
  Source/santad/MachServiceDeadWaiter.h
  Source/santad/MachServiceDeadWaiter.mm
  Source/santad/main.mm
Labels: daemon

#26 Revert "installer: support side-by-side install of NPS Santa [2/3] (#…
  Conf/Package/postinstall
  Source/santad/BUILD
  Source/santad/MachServiceDeadWaiter.h
  Source/santad/MachServiceDeadWaiter.mm
  Source/santad/main.mm
Labels: build

#27 partial revert: installer: support side-by-side install of NPS Santa [1/2]
  Conf/Package/package.sh
  Conf/Package/postinstall
  Conf/Package/preinstall
Labels: build

#29 Update copyright statements for all binaries.
  .pyink-config
  Source/gui/Info.plist
  Source/santabundleservice/Info.plist
  Source/santactl/Info.plist
  Source/santad/Info.plist
  Source/santametricservice/Info.plist
  Source/santasyncservice/Info.plist
  Testing/lint.sh
Labels: build, cleanup

#33 package: fix migration file path
  Conf/Package/package_and_sign.sh
Labels: build

#39 Actions: Cache bazel between workflows to optimize usage
  .github/workflows/ci.yml
Labels: enhancement, build

#38 santad: Stop preventing kextload of santa-driver
  Source/santad/EventProviders/SNTEndpointSecurityTamperResistance.mm
  Source/santad/EventProviders/SNTEndpointSecurityTamperResistanceTest.mm
Labels: cleanup

#41 package: tamper resistant install [1/2]
  BUILD
  Conf/MigrationPackage/Distribution.xml
  Conf/MigrationPackage/package.sh
  Conf/MigrationPackage/postinstall
  Conf/MigrationPackage/preinstall
  Conf/Package/migration.sh
  Conf/Package/package.sh
  Conf/Package/package_and_sign.sh
  Conf/Package/postinstall
  Conf/Package/preinstall
  Conf/com.northpolesec.santa.migration.plist
Labels: build

#44 Implement daemon install command
  Source/santactl/Commands/SNTCommandInstall.mm
  Source/santad/BUILD
  Source/santad/SNTDaemonControlController.mm
Labels: daemon

#50 Fix tamper tests, add tests for OPEN event and prefix paths
  Source/santad/EventProviders/SNTEndpointSecurityTamperResistance.mm
  Source/santad/EventProviders/SNTEndpointSecurityTamperResistanceTest.mm
Labels: 🧪 testing

#51 Workflows: Use the runner OS as the key for disk caches
  .github/workflows/ci.yml
Labels: build

#46 GUI: Re-write binary block window with SwiftUI [1/3]
  Source/common/BUILD
  Source/common/CertificateHelpers.m
  Source/common/SNTStoredEvent.h
  Source/gui/BUILD
  Source/gui/Resources/MessageWindow.xib
  Source/gui/SNTAccessibleTextField.h
  Source/gui/SNTAccessibleTextField.m
  Source/gui/SNTBinaryMessageWindowController.h
  Source/gui/SNTBinaryMessageWindowController.m
  Source/gui/SNTBinaryMessageWindowView.swift
  Source/gui/SNTMessageWindow.h
  Source/gui/SNTMessageWindow.m
  Source/gui/SNTMessageWindowController.h
  Source/gui/SNTMessageWindowController.m
Labels: 🎅🏻 gui

#54 GUI: Allow customization of silence period
  Source/gui/SNTBinaryMessageWindowController.m
  Source/gui/SNTBinaryMessageWindowView.swift
  Source/gui/SNTFileAccessMessageWindowController.m
  Source/gui/SNTMessageWindowController.h
  Source/gui/SNTMessageWindowController.m
  Source/gui/SNTNotificationManager.m
Labels: 🎅🏻 gui

#56 Sync: Migrate to using sync proto from northpolesec/protos
  .bazelversion
  MODULE.bazel
  Source/santasyncservice/BUILD
  Source/santasyncservice/SNTSyncEventUpload.mm
  Source/santasyncservice/SNTSyncPostflight.mm
  Source/santasyncservice/SNTSyncPreflight.mm
  Source/santasyncservice/SNTSyncRuleDownload.mm
  Source/santasyncservice/syncv1.proto
Labels: sync protocol

#59 GUI: Reduce icon saturation, add keyboard shortcuts as tooltips, move "Copy Details"
  Source/gui/SNTBinaryMessageWindowView.swift
Labels: 🎅🏻 gui

#62 GUI: Localization support
  Source/common/SNTBlockMessage.h
  Source/common/SNTBlockMessage.m
  Source/gui/BUILD
  Source/gui/Resources/en.lproj/Localizable.strings
  Source/gui/Resources/en.lproj/regen.sh
  Source/gui/Resources/ru.lproj/Localizable.strings
  Source/gui/Resources/uk.lproj/Localizable.strings
  Source/gui/SNTAboutWindowView.swift
  Source/gui/SNTBinaryMessageWindowView.swift
  Source/gui/SNTDeviceMessageWindowView.swift
  Source/gui/SNTFileAccessMessageWindowView.swift
Labels: 🎅🏻 gui

#60 GUI: Add selectable silence periods for FAA notifications
  Source/gui/SNTBinaryMessageWindowView.swift
  Source/gui/SNTFileAccessMessageWindowController.m
  Source/gui/SNTFileAccessMessageWindowView.swift
Labels: 🎅🏻 gui

#63 GUI: Add support for German localization
  Source/gui/Resources/de.lproj/Localizable.strings
Labels: 🎅🏻 gui

#55 tamper client: protect service configs
  Conf/install_services.sh
  Conf/uninstall.sh
  Source/santad/EventProviders/SNTEndpointSecurityTamperResistance.mm
  Source/santad/EventProviders/SNTEndpointSecurityTamperResistanceTest.mm
  Source/santad/main.mm
Labels: :boom: tamper client

#68 docs: Update santa-block.gif for new UI
  docs/images/santa-block.gif
Labels: documentation

#65 Prevent legacy service loads, cleanup legacy plists
  Conf/install_services.sh
  Source/santad/EventProviders/SNTEndpointSecurityTamperResistance.mm
Labels: :boom: tamper client

#67 GUI: Refactor common UI elements into a single module.
  Source/common/BUILD
  Source/common/SNTBlockMessage.h
  Source/common/SNTFileAccessEvent.h
  Source/common/SNTFileAccessEvent.m
  Source/common/SNTStoredEvent.h
  Source/common/SNTStoredEvent.m
  Source/gui/BUILD
  Source/gui/SNTBinaryMessageWindowView.swift
  Source/gui/SNTFileAccessMessageWindowController.m
  Source/gui/SNTFileAccessMessageWindowView.swift
  Source/gui/SNTMessageView.swift
  Source/santad/EventProviders/SNTEndpointSecurityFileAccessAuthorizer.mm
Labels: 🎅🏻 gui

#69 Set FAA per-rule version to the policy version
  Source/santad/DataLayer/WatchItemPolicy.h
  Source/santad/DataLayer/WatchItems.mm
  Source/santad/DataLayer/WatchItemsTest.mm
  Source/santad/EventProviders/SNTEndpointSecurityFileAccessAuthorizerTest.mm
Labels: bug, file access authorization

#71 gui: display bundle hashing progress
  Source/gui/SNTBinaryMessageWindowController.h
  Source/gui/SNTBinaryMessageWindowController.m
  Source/gui/SNTBinaryMessageWindowView.swift
  Source/gui/SNTNotificationManager.m
  Source/santabundleservice/SNTBundleService.m
Labels: 🎅🏻 gui

#74 GUI: Update DeviceMessage to new UI
  Source/common/BUILD
  Source/common/SNTBlockMessage.h
  Source/common/SNTBlockMessage.m
  Source/common/SNTConfigurator.m
  Source/common/SNTXPCNotifierInterface.h
  Source/gui/BUILD
  Source/gui/SNTDeviceMessageWindowController.h
  Source/gui/SNTDeviceMessageWindowController.m
  Source/gui/SNTDeviceMessageWindowView.swift
  Source/gui/SNTMessageView.swift
  Source/gui/SNTNotificationManager.m
  Source/santad/Santad.mm
Labels: 🎅🏻 gui

#79 docs: add a migration doc
  docs/deployment/migration.md
Labels: documentation

#82 docs: Fix formatting in migration doc
  docs/_config.yml
  docs/deployment/migration.md
Labels: documentation

#83 Minor cosmetic updates to migration doc
  docs/deployment/migration.md
Labels: documentation

#85 Fix typo in install command
  Source/santactl/Commands/SNTCommandInstall.mm
Labels: cleanup

#87 README: Some minor wording updates
  README.md
Labels: documentation

#88 Project: Ensure Swift code is properly formatted
  .swift-format
  Source/gui/SNTAboutWindowView.swift
  Source/gui/SNTBinaryMessageWindowView.swift
  Source/gui/SNTDeviceMessageWindowView.swift
  Source/gui/SNTFileAccessMessageWindowView.swift
  Source/gui/SNTMessageView.swift
  Testing/fix.sh
  Testing/lint.sh
Labels: cleanup

#91 Address findings from migration testing
  Conf/Package/migration.sh
  Conf/Package/postinstall
  Conf/install_services.sh
  Source/santad/EventProviders/SNTEndpointSecurityTamperResistance.mm
Labels: cleanup

#92 Move away from /Library/Caches for migration
  Conf/Package/migration.sh
  Conf/Package/package.sh
  Conf/Package/postinstall
  Conf/Package/preinstall
  Conf/com.northpolesec.santa.migration.plist
  Conf/install.sh
  Source/santactl/Commands/SNTCommandInstall.mm
Labels: cleanup

#94 gui: Make buttons the same width as the checkbox control
  Source/gui/SNTBinaryMessageWindowView.swift
  Source/gui/SNTFileAccessMessageWindowView.swift
  Source/gui/SNTMessageView.swift
Labels: 🎅🏻 gui
