Repository northpolesec/santa, pull requests merged in 2024-11, with the labels that each got.

#95 Expose flushcache Command
  Source/santactl/BUILD
  Source/santactl/Commands/SNTCommandFlushCache.m
Labels: santactl

#98 Only set AT_SYMLINK_NOFOLLOW_ANY on supported OS versions
  Source/santad/EventProviders/SNTEndpointSecurityTamperResistance.mm
Labels: cleanup

#100 checkcache and flushcache are now hidden commands. Help text updates.
  Source/santactl/BUILD
  Source/santactl/Commands/SNTCommandCheckCache.m
  Source/santactl/Commands/SNTCommandFlushCache.m
  Source/santactl/Commands/SNTCommandInstall.mm
Labels: cleanup

#96 gui: Add some date-based font shenanigans
  Source/common/SNTConfigurator.h
  Source/common/SNTConfigurator.m
  Source/gui/BUILD
  Source/gui/Info.plist
  Source/gui/Resources/Fonts/StarJedi-Info.txt
  Source/gui/Resources/Fonts/StarJedi.ttf
  Source/gui/SNTMessageView.swift
Labels: 🎅🏻 gui

#101 Make New Icons Meet Apple Guidelines
  Source/gui/Resources/Images.xcassets/AppIcon.appiconset/Contents.json
  Source/gui/Resources/Images.xcassets/AppIcon.appiconset/santa-hat-icon-128.png
  Source/gui/Resources/Images.xcassets/AppIcon.appiconset/santa-hat-icon-256.png
  Source/gui/Resources/Images.xcassets/AppIcon.appiconset/santa-icon_128x128.png
  Source/gui/Resources/Images.xcassets/AppIcon.appiconset/santa-icon_128x128@2x.png
  Source/gui/Resources/Images.xcassets/AppIcon.appiconset/santa-icon_16x16.png
  Source/gui/Resources/Images.xcassets/AppIcon.appiconset/santa-icon_16x16@2x.png
  Source/gui/Resources/Images.xcassets/AppIcon.appiconset/santa-icon_256x256.png
  Source/gui/Resources/Images.xcassets/AppIcon.appiconset/santa-icon_256x256@2x.png
  Source/gui/Resources/Images.xcassets/AppIcon.appiconset/santa-icon_32x32.png
  Source/gui/Resources/Images.xcassets/AppIcon.appiconset/santa-icon_32x32@2x.png
  Source/gui/Resources/Images.xcassets/AppIcon.appiconset/santa-icon_512x512.png
  Source/gui/Resources/Images.xcassets/AppIcon.appiconset/santa-icon_512x512@2x.png
  Source/gui/Resources/Images.xcassets/MessageIcon.imageset/Contents.json
  Source/gui/Resources/Images.xcassets/MessageIcon.imageset/santa-hat-icon-16.png
  Source/gui/Resources/Images.xcassets/MessageIcon.imageset/santa-hat-icon-32.png
  Source/gui/Resources/Images.xcassets/MessageIcon.imageset/santa-hat-icon-64.png
  Source/gui/SNTMessageView.swift
Labels: 🎅🏻 gui

#102 gui: scale icon on window
  Source/gui/SNTMessageView.swift
Labels: 🎅🏻 gui

#103 Project: Add git commit to version output
  Source/common/BUILD
  Source/gui/BUILD
  Source/santabundleservice/BUILD
  Source/santactl/BUILD
  Source/santactl/Commands/SNTCommandVersion.m
  Source/santad/BUILD
  Source/santametricservice/BUILD
  Testing/workspace_status.sh
Labels: build

#105 GUI: Add localization for Open... button
  Source/gui/Resources/de.lproj/Localizable.strings
  Source/gui/Resources/en.lproj/Localizable.strings
  Source/gui/Resources/ru.lproj/Localizable.strings
  Source/gui/Resources/uk.lproj/Localizable.strings
  Source/gui/SNTMessageView.swift
Labels: 🎅🏻 gui

#106 Add proto for new authentication events
  .gitignore
  Source/common/santa.proto
Labels: telemetry

#107 Subscribe to authentication event types and handle enrichment
  Source/santad/BUILD
  Source/santad/EventProviders/EndpointSecurity/EnrichedTypes.h
  Source/santad/EventProviders/EndpointSecurity/Enricher.h
  Source/santad/EventProviders/EndpointSecurity/Enricher.mm
  Source/santad/EventProviders/SNTEndpointSecurityRecorder.mm
  Source/santad/EventProviders/SNTEndpointSecurityRecorderTest.mm
  Source/santad/Logs/EndpointSecurity/Serializers/BasicString.h
  Source/santad/Logs/EndpointSecurity/Serializers/BasicString.mm
  Source/santad/Logs/EndpointSecurity/Serializers/Empty.h
  Source/santad/Logs/EndpointSecurity/Serializers/Empty.mm
  Source/santad/Logs/EndpointSecurity/Serializers/Protobuf.h
  Source/santad/Logs/EndpointSecurity/Serializers/Protobuf.mm
  Source/santad/Logs/EndpointSecurity/Serializers/Serializer.h
  Source/santad/Metrics.mm
  Source/santad/MetricsTest.mm
Labels: daemon, recorder, telemetry

#110 Add RuleType FAA config to replace InvertProcessExceptions
  Source/santad/DataLayer/WatchItemPolicy.h
  Source/santad/DataLayer/WatchItems.h
  Source/santad/DataLayer/WatchItems.mm
  Source/santad/DataLayer/WatchItemsTest.mm
  Source/santad/EventProviders/SNTEndpointSecurityFileAccessAuthorizer.mm
  Source/santad/EventProviders/SNTEndpointSecurityFileAccessAuthorizerTest.mm
  docs/deployment/file-access-auth.md
Labels: file access authorization

#48 Doc improvements
  docs/deployment/configuration.md
  docs/deployment/file-access-auth.md
Labels: documentation

#123 santad/santactl: Add comment field for rules, populate for manual rules
  Source/common/SNTRule.h
  Source/common/SNTRule.m
  Source/common/SNTRuleTest.m
  Source/common/SNTSyncConstants.h
  Source/common/SNTSyncConstants.m
  Source/santactl/Commands/SNTCommandRule.m
  Source/santad/DataLayer/SNTRuleTable.m
Labels: rules, santactl

#134 Project: Remove unused integration test components
  Testing/integration/BUILD
  Testing/integration/SNTExecTest.m
  Testing/integration/VM/Common/BUILD
  Testing/integration/VM/Common/Error.h
  Testing/integration/VM/Common/Info.plist
  Testing/integration/VM/Common/MacOSVirtualMachineConfigurationHelper.h
  Testing/integration/VM/Common/MacOSVirtualMachineConfigurationHelper.m
  Testing/integration/VM/Common/MacOSVirtualMachineDelegate.h
  Testing/integration/VM/Common/MacOSVirtualMachineDelegate.m
  Testing/integration/VM/Common/VM.entitlements
  Testing/integration/VM/InstallationTool/BUILD
  Testing/integration/VM/InstallationTool/MacOSRestoreImage.h
  Testing/integration/VM/InstallationTool/MacOSRestoreImage.m
  Testing/integration/VM/InstallationTool/MacOSVirtualMachineInstaller.h
  Testing/integration/VM/InstallationTool/MacOSVirtualMachineInstaller.m
  Testing/integration/VM/InstallationTool/main.m
  Testing/integration/VM/LICENSE
  Testing/integration/VM/VMCLI/BUILD
  Testing/integration/VM/VMCLI/main.m
  Testing/integration/VM/VMGUI/AppDelegate.h
  Testing/integration/VM/VMGUI/AppDelegate.m
  Testing/integration/VM/VMGUI/BUILD
  Testing/integration/VM/VMGUI/Resources/MainMenu.xib
  Testing/integration/VM/VMGUI/main.m
  Testing/integration/VM/bash_control.sh
  Testing/integration/VM/disclaim.c
  Testing/integration/VM/make_ro_img.sh
  Testing/integration/VM/setup.sh
  Testing/integration/actions/start_vm.py
  Testing/integration/actions/update_vm.py
  Testing/integration/allow_sysex.scpt
  Testing/integration/configs/default.mobileconfig
  Testing/integration/configs/moroz_changed/global.toml
  Testing/integration/configs/moroz_default/global.toml
  Testing/integration/configs/usb-block.mobileconfig
  Testing/integration/dismiss_santa_popup.scpt
  Testing/integration/dismiss_usb_popup.scpt
  Testing/integration/install_profile.scpt
  Testing/integration/test_config_changes.sh
  Testing/integration/test_sync_changes.sh
  Testing/integration/test_usb.sh
  WORKSPACE
  external_patches/README.md
  external_patches/moroz/BUILD
  external_patches/moroz/deps.bzl
  external_patches/moroz/moroz.patch
Labels: build

#136 GUI: Allow testing of special dates in TestGUI.
  Source/gui/BUILD
  Source/gui/SNTMessageView.swift
  Source/gui/SNTTestGUI.swift
Labels: 🎅🏻 gui, 🧪 testing

#135 Add string serialization for authentication events
  Source/common/Platform.h
  Source/santad/Logs/EndpointSecurity/Serializers/BasicString.mm
  Source/santad/Logs/EndpointSecurity/Serializers/BasicStringTest.mm
Labels: daemon, telemetry, 🪵 logging

#138 Support protobuf tests up to ES message version 8
  .gitignore
  Source/common/TestUtils.mm
  Source/santad/testdata/protobuf/v7/allowlist.json
  Source/santad/testdata/protobuf/v7/close.json
  Source/santad/testdata/protobuf/v7/cs_invalidated.json
  Source/santad/testdata/protobuf/v7/exchangedata.json
  Source/santad/testdata/protobuf/v7/exec.json
  Source/santad/testdata/protobuf/v7/exit.json
  Source/santad/testdata/protobuf/v7/file_access.json
  Source/santad/testdata/protobuf/v7/fork.json
  Source/santad/testdata/protobuf/v7/link.json
  Source/santad/testdata/protobuf/v7/login_login.json
  Source/santad/testdata/protobuf/v7/login_login_failed_attempt.json
  Source/santad/testdata/protobuf/v7/lw_session_lock.json
  Source/santad/testdata/protobuf/v7/lw_session_login.json
  Source/santad/testdata/protobuf/v7/lw_session_logout.json
  Source/santad/testdata/protobuf/v7/lw_session_unlock.json
  Source/santad/testdata/protobuf/v7/openssh_login.json
  Source/santad/testdata/protobuf/v7/openssh_login_failed_attempt.json
  Source/santad/testdata/protobuf/v7/openssh_logout.json
  Source/santad/testdata/protobuf/v7/rename.json
  Source/santad/testdata/protobuf/v7/screensharing_attach.json
  Source/santad/testdata/protobuf/v7/screensharing_attach_unset_fields.json
  Source/santad/testdata/protobuf/v7/screensharing_detach.json
  Source/santad/testdata/protobuf/v7/unlink.json
  Source/santad/testdata/protobuf/v8/allowlist.json
  Source/santad/testdata/protobuf/v8/close.json
  Source/santad/testdata/protobuf/v8/cs_invalidated.json
  Source/santad/testdata/protobuf/v8/exchangedata.json
  Source/santad/testdata/protobuf/v8/exec.json
  Source/santad/testdata/protobuf/v8/exit.json
  Source/santad/testdata/protobuf/v8/file_access.json
  Source/santad/testdata/protobuf/v8/fork.json
  Source/santad/testdata/protobuf/v8/link.json
  Source/santad/testdata/protobuf/v8/login_login.json
  Source/santad/testdata/protobuf/v8/login_login_failed_attempt.json
  Source/santad/testdata/protobuf/v8/lw_session_lock.json
  Source/santad/testdata/protobuf/v8/lw_session_login.json
  Source/santad/testdata/protobuf/v8/lw_session_logout.json
  Source/santad/testdata/protobuf/v8/lw_session_unlock.json
  Source/santad/testdata/protobuf/v8/openssh_login.json
  Source/santad/testdata/protobuf/v8/openssh_login_failed_attempt.json
  Source/santad/testdata/protobuf/v8/openssh_logout.json
  Source/santad/testdata/protobuf/v8/rename.json
  Source/santad/testdata/protobuf/v8/screensharing_attach.json
  Source/santad/testdata/protobuf/v8/screensharing_attach_unset_fields.json
  Source/santad/testdata/protobuf/v8/screensharing_detach.json
  Source/santad/testdata/protobuf/v8/unlink.json
Labels: 🧪 testing

#139 Add protobuf serialization for new authentication events
  Source/common/TestUtils.mm
  Source/santad/Logs/EndpointSecurity/Serializers/Protobuf.mm
  Source/santad/Logs/EndpointSecurity/Serializers/ProtobufTest.mm
  Source/santad/testdata/protobuf/v6/authentication_auto_unlock.json
  Source/santad/testdata/protobuf/v6/authentication_auto_unlock_missing_uid.json
  Source/santad/testdata/protobuf/v6/authentication_od.json
  Source/santad/testdata/protobuf/v6/authentication_token.json
  Source/santad/testdata/protobuf/v6/authentication_touchid.json
  Source/santad/testdata/protobuf/v6/authentication_touchid_no_uid.json
  Source/santad/testdata/protobuf/v7/authentication_auto_unlock.json
  Source/santad/testdata/protobuf/v7/authentication_auto_unlock_missing_uid.json
  Source/santad/testdata/protobuf/v7/authentication_od.json
  Source/santad/testdata/protobuf/v7/authentication_token.json
  Source/santad/testdata/protobuf/v7/authentication_touchid.json
  Source/santad/testdata/protobuf/v7/authentication_touchid_no_uid.json
  Source/santad/testdata/protobuf/v8/authentication_auto_unlock.json
  Source/santad/testdata/protobuf/v8/authentication_auto_unlock_missing_uid.json
  Source/santad/testdata/protobuf/v8/authentication_od.json
  Source/santad/testdata/protobuf/v8/authentication_od_missing_auth_instigator.json
  Source/santad/testdata/protobuf/v8/authentication_token.json
  Source/santad/testdata/protobuf/v8/authentication_token_missing_auth_instigator.json
  Source/santad/testdata/protobuf/v8/authentication_touchid.json
  Source/santad/testdata/protobuf/v8/authentication_touchid_missing_auth_instigator.json
  Source/santad/testdata/protobuf/v8/authentication_touchid_no_uid.json
Labels: 🪵 logging

#141 gui: Fix crash unwrapping optional in EventDetailURL
  Source/gui/SNTBinaryMessageWindowView.swift
Labels: bug, 🎅🏻 gui

#143 Log code signing information for critical system binaries
  Source/santad/BUILD
  Source/santad/DataLayer/SNTRuleTable.m
  Source/santad/DataLayer/SNTRuleTableTest.m
Labels: daemon

#145 GUI: Fix rendering of long filenames in More Details
  Source/gui/SNTBinaryMessageWindowView.swift
Labels: bug, 🎅🏻 gui

#146 Config: Add nullability annotations to configurator
  Source/common/SNTConfigurator.h
  Source/gui/SNTAboutWindowView.swift
  Source/gui/SNTBinaryMessageWindowView.swift
Labels: configurator, cleanup, 🎅🏻 gui

#142 Change auth instigator trigger field names in proto schema
  Source/common/santa.proto
  Source/santad/Logs/EndpointSecurity/Serializers/Protobuf.mm
  Source/santad/testdata/protobuf/v6/authentication_od.json
  Source/santad/testdata/protobuf/v6/authentication_token.json
  Source/santad/testdata/protobuf/v6/authentication_touchid.json
  Source/santad/testdata/protobuf/v6/authentication_touchid_no_uid.json
  Source/santad/testdata/protobuf/v7/authentication_od.json
  Source/santad/testdata/protobuf/v7/authentication_token.json
  Source/santad/testdata/protobuf/v7/authentication_touchid.json
  Source/santad/testdata/protobuf/v7/authentication_touchid_no_uid.json
  Source/santad/testdata/protobuf/v8/authentication_od.json
  Source/santad/testdata/protobuf/v8/authentication_od_missing_auth_instigator.json
  Source/santad/testdata/protobuf/v8/authentication_token.json
  Source/santad/testdata/protobuf/v8/authentication_token_missing_auth_instigator.json
  Source/santad/testdata/protobuf/v8/authentication_touchid.json
  Source/santad/testdata/protobuf/v8/authentication_touchid_missing_auth_instigator.json
  Source/santad/testdata/protobuf/v8/authentication_touchid_no_uid.json
Labels: telemetry, 🪵 logging

#149 Configurable telemetry event filtering
  Source/common/BUILD
  Source/common/SNTConfigurator.h
  Source/common/SNTConfigurator.m
  Source/common/TelemetryEventMap.h
  Source/common/TelemetryEventMap.mm
  Source/common/TelemetryEventMapTest.mm
  Source/santad/BUILD
  Source/santad/EventProviders/EndpointSecurity/EnrichedTypes.h
  Source/santad/EventProviders/SNTEndpointSecurityRecorder.mm
  Source/santad/EventProviders/SNTEndpointSecurityRecorderTest.mm
  Source/santad/Logs/EndpointSecurity/Logger.h
  Source/santad/Logs/EndpointSecurity/Logger.mm
  Source/santad/Logs/EndpointSecurity/LoggerTest.mm
  Source/santad/Logs/EndpointSecurity/MockLogger.h
  Source/santad/Santad.mm
  Source/santad/SantadDeps.h
  Source/santad/SantadDeps.mm
  docs/deployment/configuration.md
Labels: configurator, daemon, telemetry, 🪵 logging
