Repository northpolesec/santa, pull requests merged in 2025-03, with the labels that each got.

#286 Add EnableNotificationSilences key to config docs
  docs/deployment/configuration.md
Labels: docs, size/xs

#284 build: Update rules_apple to 3.19.1, rules_swift to 2.4.0
  MODULE.bazel
Labels: size/xs

#282 Add fallback methods for gathering mounted DMG path
  Source/santad/Logs/EndpointSecurity/Serializers/Utilities.mm
Labels: bug, comp/santad, size/s, lang/objc++

#283 Downloaded rule identifiers now pass thru value validation
  Source/common/SNTRule.h
  Source/common/SNTRule.m
  Source/santad/DataLayer/SNTRuleTable.m
  Source/santad/SNTCompilerController.mm
  Source/santad/SNTDecisionCache.mm
  Source/santad/SNTExecutionController.mm
  Source/santasyncservice/SNTSyncRuleDownload.mm
  Source/santasyncservice/SNTSyncTest.mm
Labels: comp/santad, cleanup, comp/santasyncservice, size/s, lang/objc, lang/objc++, comp/common

#288 Add update method to SantaCache to update value under lock
  Source/common/SantaCache.h
  Source/common/SantaCacheTest.mm
Labels: cleanup, 🧪 testing, size/m, lang/objc++, comp/common

#289 Update docs sidebar colors and link borders
  docs/_sass/custom/custom.scss
Labels: docs, size/s

#290 Fix link color in docs
  docs/_sass/custom/custom.scss
Labels: docs, size/xs

#291 Add and adopt SantaSetCache
  Source/common/AuditUtilities.h
  Source/common/BUILD
  Source/common/SantaCache.h
  Source/common/SantaCacheTest.mm
  Source/common/SantaSetCache.h
  Source/common/SantaSetCacheTest.mm
  Source/santad/BUILD
  Source/santad/EventProviders/SNTEndpointSecurityFileAccessAuthorizer.mm
  Source/santad/Logs/EndpointSecurity/Serializers/BasicString.mm
  Source/santad/Logs/EndpointSecurity/Serializers/BasicStringTest.mm
  Source/santad/Logs/EndpointSecurity/Serializers/Protobuf.mm
  Source/santad/Logs/EndpointSecurity/Serializers/Utilities.h
  Source/santad/Logs/EndpointSecurity/Serializers/Utilities.mm
Labels: comp/santad, file access authorization, cleanup, 🧪 testing, size/l, lang/objc++, comp/common

#293 Clarify RuleType version support
  docs/deployment/file-access-auth.md
Labels: docs, size/xs

#292 Add reads cache support to the FAA Policy Processor
  Source/common/SantaSetCache.h
  Source/santad/BUILD
  Source/santad/EventProviders/FAAPolicyProcessor.h
  Source/santad/EventProviders/FAAPolicyProcessor.mm
  Source/santad/EventProviders/MockFAAPolicyProcessor.h
  Source/santad/EventProviders/SNTEndpointSecurityFileAccessAuthorizer.h
  Source/santad/EventProviders/SNTEndpointSecurityFileAccessAuthorizer.mm
  Source/santad/EventProviders/SNTEndpointSecurityProcessFileAccessAuthorizer.h
  Source/santad/EventProviders/SNTEndpointSecurityProcessFileAccessAuthorizer.mm
  Source/santad/EventProviders/SNTEndpointSecurityProcessFileAccessAuthorizerTest.mm
  Source/santad/Santad.mm
Labels: comp/santad, file access authorization, size/m, lang/objc++, comp/common

#294 Module version updates
  MODULE.bazel
Labels: build, size/s

#296 gui: Fix auto-wrapping of multiline text in block message
  Source/gui/SNTMessageView.swift
  Source/gui/SNTTestGUI.swift
Labels: comp/gui, size/s, lang/swift

#295 Add Operation ID / fingerprint hash to FileAccess telemetry events
  MODULE.bazel
  Source/common/santa.proto
  Source/santad/BUILD
  Source/santad/Logs/EndpointSecurity/LoggerTest.mm
  Source/santad/Logs/EndpointSecurity/Serializers/BasicString.h
  Source/santad/Logs/EndpointSecurity/Serializers/BasicString.mm
  Source/santad/Logs/EndpointSecurity/Serializers/BasicStringTest.mm
  Source/santad/Logs/EndpointSecurity/Serializers/Empty.h
  Source/santad/Logs/EndpointSecurity/Serializers/Empty.mm
  Source/santad/Logs/EndpointSecurity/Serializers/Protobuf.h
  Source/santad/Logs/EndpointSecurity/Serializers/Protobuf.mm
  Source/santad/Logs/EndpointSecurity/Serializers/ProtobufTest.mm
  Source/santad/Logs/EndpointSecurity/Serializers/Serializer.h
  Source/santad/Logs/EndpointSecurity/Serializers/Serializer.mm
  Source/santad/testdata/protobuf/v6/file_access.json
  Source/santad/testdata/protobuf/v7/file_access.json
  Source/santad/testdata/protobuf/v8/file_access.json
Labels: comp/santad, file access authorization, size/m, lang/objc++, comp/common

#298 Docs: Update warnings about scopes.
  docs/concepts/scopes.md
  docs/deployment/configuration.md
Labels: docs, size/s

#299 Add Santa and third party licenses to distribution package
  Source/gui/BUILD
  Source/gui/Resources/SantaLicense.txt
  Source/gui/Resources/ThirdPartyLicenses.txt
Labels: comp/gui, size/m

#301 Remove unused OCMExpect from test
  Source/santad/EventProviders/FAAPolicyProcessorTest.mm
Labels: comp/santad, size/xs, lang/objc++

#305 Small docs update
  docs/index.md
Labels: docs, size/xs

#304 Add back metrics and rate limiting shared across FAA clients
  Source/santad/BUILD
  Source/santad/EventProviders/FAAPolicyProcessor.h
  Source/santad/EventProviders/FAAPolicyProcessor.mm
  Source/santad/EventProviders/FAAPolicyProcessorTest.mm
  Source/santad/EventProviders/MockFAAPolicyProcessor.h
  Source/santad/EventProviders/RateLimiter.h
  Source/santad/EventProviders/RateLimiter.mm
  Source/santad/EventProviders/RateLimiterTest.mm
  Source/santad/EventProviders/SNTEndpointSecurityProcessFileAccessAuthorizerTest.mm
  Source/santad/Metrics.h
  Source/santad/Metrics.mm
  Source/santad/MetricsTest.mm
  Source/santad/Santad.mm
Labels: comp/santad, file access authorization, telemetry, size/m, lang/objc++

#306 Add foreach and clear with block support to SantaCache
  .clang-format
  Source/common/SantaCache.h
  Source/common/SantaCacheTest.mm
Labels: size/m, lang/objc++, comp/common

#307 gui: Add localization of client mode switch notifications
  Source/gui/Resources/de.lproj/Localizable.strings
  Source/gui/Resources/en.lproj/Localizable.strings
  Source/gui/Resources/ja.lproj/Localizable.strings
  Source/gui/Resources/ru.lproj/Localizable.strings
  Source/gui/Resources/uk.lproj/Localizable.strings
  Source/gui/SNTNotificationManager.m
  Testing/localization.py
Labels: comp/gui, size/s, lang/objc

#308 gui: localize unblocked app notifications
  Source/common/SNTXPCControlInterface.h
  Source/common/SNTXPCNotifierInterface.h
  Source/gui/Resources/de.lproj/Localizable.strings
  Source/gui/Resources/en.lproj/Localizable.strings
  Source/gui/Resources/ja.lproj/Localizable.strings
  Source/gui/Resources/ru.lproj/Localizable.strings
  Source/gui/Resources/uk.lproj/Localizable.strings
  Source/gui/SNTNotificationManager.m
  Source/santad/SNTDaemonControlController.mm
  Source/santasyncservice/SNTSyncRuleDownload.mm
Labels: comp/santad, comp/gui, comp/santasyncservice, size/s, lang/objc, lang/objc++, comp/common

#309 Stop watching processes when all Proc FAA rules are removed
  Source/common/AuditUtilities.h
  Source/santad/EventProviders/EndpointSecurity/EndpointSecurityAPI.h
  Source/santad/EventProviders/EndpointSecurity/EndpointSecurityAPI.mm
  Source/santad/EventProviders/FAAPolicyProcessor.h
  Source/santad/EventProviders/FAAPolicyProcessor.mm
  Source/santad/EventProviders/SNTEndpointSecurityClient.mm
  Source/santad/EventProviders/SNTEndpointSecurityClientBase.h
  Source/santad/EventProviders/SNTEndpointSecurityFileAccessAuthorizer.mm
  Source/santad/EventProviders/SNTEndpointSecurityProcessFileAccessAuthorizer.mm
Labels: comp/santad, file access authorization, size/s, lang/objc++, comp/common

#310 Remove inline specifier from some FAAPolicyProcessor methods
  Source/santad/EventProviders/FAAPolicyProcessor.mm
Labels: comp/santad, size/s, lang/objc++

#311 Handle FAA policy changes affecting watched processes
  Source/santad/EventProviders/SNTEndpointSecurityProcessFileAccessAuthorizer.mm
  Source/santad/EventProviders/SNTEndpointSecurityProcessFileAccessAuthorizerTest.mm
Labels: comp/santad, file access authorization, size/m, lang/objc++

#312 Rename original FAA client to Data FAA
  Source/santad/BUILD
  Source/santad/EventProviders/SNTEndpointSecurityDataFileAccessAuthorizer.h
  Source/santad/EventProviders/SNTEndpointSecurityDataFileAccessAuthorizer.mm
  Source/santad/EventProviders/SNTEndpointSecurityDataFileAccessAuthorizerTest.mm
  Source/santad/Metrics.h
  Source/santad/Metrics.mm
  Source/santad/MetricsTest.mm
  Source/santad/Santad.mm
Labels: comp/santad, cleanup, size/s, lang/objc++

#314 Inject necessary WatchItems method instead of full object
  Source/santad/DataLayer/WatchItems.h
  Source/santad/EventProviders/SNTEndpointSecurityDataFileAccessAuthorizer.h
  Source/santad/EventProviders/SNTEndpointSecurityDataFileAccessAuthorizer.mm
  Source/santad/EventProviders/SNTEndpointSecurityDataFileAccessAuthorizerTest.mm
  Source/santad/Santad.mm
Labels: comp/santad, cleanup, size/s, lang/objc++

#317 Add proto schema definition for BTM LaunchItems
  Source/common/santa.proto
Labels: telemetry, size/s, comp/common

#318 Add support for BTM LaunchItem telemetry event
  Source/common/TelemetryEventMap.h
  Source/common/TelemetryEventMap.mm
  Source/common/TelemetryEventMapTest.mm
  Source/santad/EventProviders/EndpointSecurity/EnrichedTypes.h
  Source/santad/EventProviders/EndpointSecurity/Enricher.mm
  Source/santad/EventProviders/SNTEndpointSecurityRecorder.mm
  Source/santad/EventProviders/SNTEndpointSecurityRecorderTest.mm
  Source/santad/Logs/EndpointSecurity/Serializers/BasicString.h
  Source/santad/Logs/EndpointSecurity/Serializers/BasicString.mm
  Source/santad/Logs/EndpointSecurity/Serializers/Empty.h
  Source/santad/Logs/EndpointSecurity/Serializers/Empty.mm
  Source/santad/Logs/EndpointSecurity/Serializers/Protobuf.h
  Source/santad/Logs/EndpointSecurity/Serializers/Protobuf.mm
  Source/santad/Logs/EndpointSecurity/Serializers/Serializer.h
  Source/santad/Metrics.mm
  Source/santad/MetricsTest.mm
Labels: comp/santad, telemetry, size/m, lang/objc++, comp/common

#321 docs: Correct signing_id format in JSON example
  docs/concepts/events.md
Labels: docs, size/xs

#322 BTM LaunchItems telemetry serialization
  Source/common/santa.proto
  Source/santad/EventProviders/EndpointSecurity/EnrichedTypes.h
  Source/santad/Logs/EndpointSecurity/Serializers/BasicString.h
  Source/santad/Logs/EndpointSecurity/Serializers/BasicString.mm
  Source/santad/Logs/EndpointSecurity/Serializers/BasicStringTest.mm
  Source/santad/Logs/EndpointSecurity/Serializers/Protobuf.h
  Source/santad/Logs/EndpointSecurity/Serializers/Protobuf.mm
  Source/santad/Logs/EndpointSecurity/Serializers/ProtobufTest.mm
  Source/santad/Logs/EndpointSecurity/Serializers/Utilities.h
  Source/santad/Logs/EndpointSecurity/Serializers/Utilities.mm
  Source/santad/Logs/EndpointSecurity/Serializers/UtilitiesTest.mm
  Source/santad/testdata/protobuf/v6/launch_item_add.json
  Source/santad/testdata/protobuf/v6/launch_item_add_relative.json
  Source/santad/testdata/protobuf/v6/launch_item_add_relative_null_app.json
  Source/santad/testdata/protobuf/v6/launch_item_remove.json
  Source/santad/testdata/protobuf/v6/launch_item_remove_relative.json
  Source/santad/testdata/protobuf/v6/launch_item_remove_relative_null_app.json
  Source/santad/testdata/protobuf/v7/launch_item_add.json
  Source/santad/testdata/protobuf/v7/launch_item_add_relative.json
  Source/santad/testdata/protobuf/v7/launch_item_add_relative_null_app.json
  Source/santad/testdata/protobuf/v7/launch_item_remove.json
  Source/santad/testdata/protobuf/v7/launch_item_remove_relative.json
  Source/santad/testdata/protobuf/v7/launch_item_remove_relative_null_app.json
  Source/santad/testdata/protobuf/v8/launch_item_add.json
  Source/santad/testdata/protobuf/v8/launch_item_add_relative.json
  Source/santad/testdata/protobuf/v8/launch_item_add_relative_null_app.json
  Source/santad/testdata/protobuf/v8/launch_item_remove.json
  Source/santad/testdata/protobuf/v8/launch_item_remove_relative.json
  Source/santad/testdata/protobuf/v8/launch_item_remove_relative_null_app.json
  docs/deployment/configuration.md
Labels: docs, comp/santad, telemetry, size/xl, lang/objc++, comp/common

#324 sync: Don't upload transitive events, correct policy for compiler rules
  Source/common/SNTCommonEnums.h
  Source/common/santa.proto
  Source/santactl/Commands/SNTCommandFileInfo.m
  Source/santad/Logs/EndpointSecurity/Serializers/BasicString.mm
  Source/santad/Logs/EndpointSecurity/Serializers/BasicStringTest.mm
  Source/santad/Logs/EndpointSecurity/Serializers/Protobuf.mm
  Source/santad/Logs/EndpointSecurity/Serializers/ProtobufTest.mm
  Source/santad/SNTExecutionController.h
  Source/santad/SNTExecutionController.mm
  Source/santad/SNTExecutionControllerTest.mm
  Source/santad/SNTPolicyProcessor.mm
  Source/santad/SNTPolicyProcessorTest.mm
  Source/santasyncservice/SNTSyncEventUpload.mm
Labels: comp/santad, comp/santasyncservice, comp/santactl, size/m, lang/objc, lang/objc++, comp/common

#325 Basic wildcard support for FAA SigningID values
  Source/santad/DataLayer/WatchItemPolicy.h
  Source/santad/DataLayer/WatchItemPolicyTest.mm
  Source/santad/DataLayer/WatchItems.mm
  Source/santad/DataLayer/WatchItemsTest.mm
  Source/santad/EventProviders/FAAPolicyProcessor.mm
  Source/santad/EventProviders/FAAPolicyProcessorTest.mm
  docs/deployment/file-access-auth.md
Labels: docs, comp/santad, file access authorization, size/m, lang/objc++

#327 Fix ISO C++ field designators declaration order
  Source/santad/Logs/EndpointSecurity/Serializers/BasicStringTest.mm
  Source/santad/Logs/EndpointSecurity/Serializers/ProtobufTest.mm
Labels: comp/santad, size/xs, lang/objc++

#328 telemetry/proto: Restore REASON_COMPILER, mark deprecated
  Source/common/santa.proto
Labels: size/xs, comp/common

#329 Set some additional compiler flags
  .bazelrc
  Source/santad/Logs/EndpointSecurity/Serializers/BasicStringTest.mm
  Source/santad/Logs/EndpointSecurity/Serializers/ProtobufTest.mm
Labels: build, comp/santad, size/xs, lang/objc++
