Repository northpolesec/santa, pull requests merged in 2025-05, with the labels that each got.

#383 docs: Add simple README
  docs/README.md
Labels: docs, size/s

#374 gui: Update about window with new design and default text
  Source/gui/BUILD
  Source/gui/Resources/de.lproj/Localizable.strings
  Source/gui/Resources/en.lproj/Localizable.strings
  Source/gui/Resources/ja.lproj/Localizable.strings
  Source/gui/Resources/ru.lproj/Localizable.strings
  Source/gui/Resources/uk.lproj/Localizable.strings
  Source/gui/SNTAboutWindowView.swift
  Source/gui/SNTMessageView.swift
  Source/gui/SNTTestGUI.swift
Labels: comp/gui, size/m, lang/swift

#380 gui: Fix mode change notifications
  Source/common/SNTBlockMessage.m
  Source/common/SNTBlockMessageTest.m
Labels: size/m, lang/objc, comp/common

#377 Apply Machine ID config updates in real time
  Source/santad/Logs/EndpointSecurity/Logger.h
  Source/santad/Logs/EndpointSecurity/Logger.mm
  Source/santad/Logs/EndpointSecurity/Serializers/BasicString.mm
  Source/santad/Logs/EndpointSecurity/Serializers/Protobuf.mm
  Source/santad/Logs/EndpointSecurity/Serializers/Serializer.h
  Source/santad/Logs/EndpointSecurity/Serializers/Serializer.mm
  Source/santad/Santad.mm
  docs/src/lib/santaconfig.ts
Labels: docs, comp/santad, size/m, lang/objc++

#384 docs: update UUIDs in example profiles to be different than the old Google Santa profiles
  docs/docs/deployment/profile-system-extension.md
  docs/docs/deployment/profile-tcc.md
Labels: docs, size/s

#386 Bump builds to C++20
  .bazelrc
Labels: build, size/xs

#387 Address build issues with C++20 on older OS versions
  MODULE.bazel
  Source/common/TelemetryEventMapTest.mm
Labels: build, size/xs, lang/objc++, comp/common

#390 sync: Handle 'global' push notifications
  Source/santasyncservice/SNTPushClientAPNS.m
  Source/santasyncservice/SNTPushNotifications.h
  Source/santasyncservice/SNTSyncManager.m
Labels: comp/santasyncservice, size/s, lang/objc

#388 Add Timer mixin, adopt in Logger class.
  Source/common/BUILD
  Source/common/SNTConfigurator.h
  Source/common/SNTConfigurator.m
  Source/common/Timer.h
  Source/santad/BUILD
  Source/santad/Logs/EndpointSecurity/Logger.h
  Source/santad/Logs/EndpointSecurity/Logger.mm
  Source/santad/Logs/EndpointSecurity/LoggerTest.mm
  Source/santad/Santad.mm
  Source/santad/SantadDeps.mm
Labels: configurator, comp/santad, telemetry, size/m, lang/objc, lang/objc++, comp/common

#389 gui: Add 'sync' button to About window
  Source/common/BUILD
  Source/common/SNTCommonEnums.h
  Source/gui/BUILD
  Source/gui/Resources/de.lproj/Localizable.strings
  Source/gui/Resources/en.lproj/Localizable.strings
  Source/gui/Resources/ja.lproj/Localizable.strings
  Source/gui/Resources/ru.lproj/Localizable.strings
  Source/gui/Resources/uk.lproj/Localizable.strings
  Source/gui/SNTAboutWindowController.m
  Source/gui/SNTAboutWindowView.swift
Labels: comp/gui, size/m, lang/objc, lang/swift, comp/common

#392 build: Disable codesign timestamp for dev builds
  Source/gui/BUILD
  Source/santabundleservice/BUILD
  Source/santactl/BUILD
  Source/santad/BUILD
  Source/santametricservice/BUILD
  Source/santasyncservice/BUILD
Labels: comp/santad, comp/gui, comp/santasyncservice, comp/santactl, size/xs, comp/santabundleservice, comp/santametricservice

#396 Bump Bazel and module versions
  .bazelversion
  MODULE.bazel
  Source/santad/SantadDeps.mm
Labels: build, comp/santad, size/s, lang/objc++

#395 Collect, open, and send telemetry files to sync service for processing
  Source/common/SNTConfigurator.m
  Source/common/SNTXPCSyncServiceInterface.h
  Source/common/SNTXPCUnprivilegedControlInterface.h
  Source/common/Timer.h
  Source/santactl/BUILD
  Source/santactl/Commands/SNTCommandTelemetry.mm
  Source/santad/BUILD
  Source/santad/Logs/EndpointSecurity/Logger.h
  Source/santad/Logs/EndpointSecurity/Logger.mm
  Source/santad/Logs/EndpointSecurity/LoggerTest.mm
  Source/santad/Logs/EndpointSecurity/MockLogger.h
  Source/santad/Logs/EndpointSecurity/Writers/FSSpool/fsspool.cc
  Source/santad/Logs/EndpointSecurity/Writers/FSSpool/fsspool.h
  Source/santad/Logs/EndpointSecurity/Writers/FSSpool/fsspool_nowindows.cc
  Source/santad/Logs/EndpointSecurity/Writers/FSSpool/fsspool_platform_specific.h
  Source/santad/Logs/EndpointSecurity/Writers/Spool.h
  Source/santad/Logs/EndpointSecurity/Writers/Spool.mm
  Source/santad/Logs/EndpointSecurity/Writers/Writer.h
  Source/santad/SNTDaemonControlController.mm
  Source/santad/SNTSyncdQueue.h
  Source/santad/SNTSyncdQueue.mm
  Source/santad/Santad.mm
  Source/santad/SantadDeps.mm
  Source/santasyncservice/SNTSyncService.mm
Labels: configurator, comp/santad, comp/santasyncservice, comp/santactl, size/l, lang/objc, lang/objc++, comp/common, telemetry export

#398 gui: allow drag & drop on about window or dock icon to get app details
  Source/common/BUILD
  Source/common/SNTFileInfo.h
  Source/common/SNTFileInfo.m
  Source/gui/BUILD
  Source/gui/Info.plist
  Source/gui/Resources/de.lproj/Localizable.strings
  Source/gui/Resources/en.lproj/Localizable.strings
  Source/gui/Resources/ja.lproj/Localizable.strings
  Source/gui/Resources/ru.lproj/Localizable.strings
  Source/gui/Resources/uk.lproj/Localizable.strings
  Source/gui/SNTAboutWindowView.swift
  Source/gui/SNTAppDelegate.m
  Source/gui/SNTBinaryMessageWindowController.m
  Source/gui/SNTBinaryMessageWindowView.swift
  Source/gui/SNTFileInfoView.swift
  Source/gui/SNTMessageView.swift
  Source/santactl/Commands/SNTCommandFileInfo.m
  helper.bzl
Labels: comp/gui, comp/santactl, size/m, lang/objc, lang/swift, comp/common

#400 Remove run time and compile time checks for macOS 13
  Source/common/MOLXPCConnection.h
  Source/common/Platform.h
  Source/common/SNTFileInfoTest.m
  Source/common/SNTXPCNotifierInterface.h
  Source/common/TestUtils.mm
  Source/gui/SNTFileAccessMessageWindowController.h
  Source/gui/SNTFileAccessMessageWindowView.swift
  Source/gui/SNTNotificationManager.m
  Source/santad/EventProviders/EndpointSecurity/EndpointSecurityAPI.mm
  Source/santad/EventProviders/EndpointSecurity/EnrichedTypes.h
  Source/santad/EventProviders/EndpointSecurity/Enricher.mm
  Source/santad/EventProviders/SNTEndpointSecurityRecorder.mm
  Source/santad/EventProviders/SNTEndpointSecurityRecorderTest.mm
  Source/santad/Logs/EndpointSecurity/Serializers/BasicString.h
  Source/santad/Logs/EndpointSecurity/Serializers/BasicString.mm
  Source/santad/Logs/EndpointSecurity/Serializers/BasicStringTest.mm
  Source/santad/Logs/EndpointSecurity/Serializers/Empty.h
  Source/santad/Logs/EndpointSecurity/Serializers/Empty.mm
  Source/santad/Logs/EndpointSecurity/Serializers/Protobuf.h
  Source/santad/Logs/EndpointSecurity/Serializers/Protobuf.mm
  Source/santad/Logs/EndpointSecurity/Serializers/ProtobufTest.mm
  Source/santad/Logs/EndpointSecurity/Serializers/Serializer.h
  Source/santad/Metrics.mm
  Source/santad/MetricsTest.mm
  Source/santad/Santad.mm
Labels: build, comp/santad, comp/gui, size/l, lang/objc, lang/objc++, lang/swift, comp/common

#401 Update how MOLXPCConnection tracks connections, vends proxy objects
  Source/common/MOLXPCConnection.h
  Source/common/MOLXPCConnection.m
  Source/santad/SNTSyncdQueue.mm
  Source/santad/Santad.mm
Labels: comp/santad, cleanup, size/s, lang/objc, lang/objc++, comp/common

#394 FAA glob expansion enhancements
  Source/common/PrefixTree.h
  Source/common/TestUtils.h
  Source/santad/DataLayer/WatchItems.mm
  Source/santad/DataLayer/WatchItemsTest.mm
Labels: enhancement, comp/santad, file access authorization, size/m, lang/objc++, comp/common

#403 Standardize bazel module dependency naming style
  BUILD
  MODULE.bazel
  Source/common/BUILD
  Source/gui/BUILD
  Source/santabundleservice/BUILD
  Source/santactl/BUILD
  Source/santad/BUILD
  Source/santad/Logs/EndpointSecurity/Writers/FSSpool/BUILD
  Source/santad/ProcessTree/BUILD
  Source/santad/ProcessTree/annotations/BUILD
  Source/santametricservice/BUILD
  Source/santasyncservice/BUILD
  helper.bzl
Labels: build, comp/santad, comp/gui, comp/santasyncservice, comp/santactl, size/m, comp/santabundleservice, comp/santametricservice, comp/common

#404 gui: change button behavior during hashing
  Source/gui/SNTBinaryMessageWindowView.swift
  Source/gui/SNTMessageView.swift
Labels: comp/gui, size/s, lang/swift

#405 gui: Simplify display of bundle hash progress, animate disappearing
  Source/gui/SNTBinaryMessageWindowController.m
  Source/gui/SNTBinaryMessageWindowView.swift
  Source/gui/SNTNotificationManager.m
Labels: comp/gui, size/s, lang/objc, lang/swift

#408 Update telemetry keys in docs
  Source/common/TelemetryEventMap.mm
  docs/src/lib/santaconfig.ts
Labels: docs, size/xs, lang/objc++, comp/common

#409 ci: Stop running on all branches
  .github/workflows/ci.yml
Labels: size/s, workflows

#412 docs: Add the beginning of the config generator
  docs/docs/configuration/generator.mdx
  docs/package.json
  docs/pnpm-lock.yaml
  docs/src/components/ConfigGenerator/index.tsx
  docs/src/components/ConfigGenerator/plist.ts
  docs/src/components/molecules/multi-select.tsx
  docs/src/components/shadcn/button.tsx
  docs/src/components/shadcn/card.tsx
  docs/src/components/shadcn/form.tsx
  docs/src/components/shadcn/input.tsx
  docs/src/components/shadcn/label.tsx
  docs/src/components/shadcn/select.tsx
  docs/src/components/shadcn/switch.tsx
  docs/src/css/custom.css
  docs/src/lib/santaconfig.ts
Labels: docs, size/xl

#413 santactl: Fix misleading message from errSecCSInfoPlistFailed
  Source/common/SNTFileInfo.m
  Source/santactl/Commands/SNTCommandFileInfoTest.m
Labels: comp/santactl, size/xs, lang/objc, comp/common

#415 bundle service: Adaptive priority
  Conf/com.northpolesec.santa.bundleservice.plist
Labels: size/xs

#417 gui: Fix and prevent crash formatting signing IDs
  Source/common/SigningIDHelpers.h
  Source/gui/SNTFileInfoView.swift
Labels: comp/gui, size/s, lang/swift, comp/common
