Repository northpolesec/santa, pull requests merged in 2025-08, with the labels that each got.

#507 build: Update several bazel modules
  MODULE.bazel
Labels: size/s

#516 Add note to docs about rule requirements for dev signed code
  docs/docs/features/binary-authorization.md
Labels: docs, size/s

#518 docs: Fix anchor links, increase h4 font size
  docs/src/css/custom.css
Labels: docs, size/xs

#517 docs: Add rule layering section back to the docs
  docs/docs/features/binary-authorization.md
Labels: docs, size/s, Documentation

#520 santad: Don't block 0 signal, log what signal is sent
  Source/santad/EventProviders/SNTEndpointSecurityTamperResistance.mm
Labels: comp/santad, size/xs, lang/objc++

#523 Remove unnecessary build macro
  .bazelrc
  Source/santad/Logs/EndpointSecurity/Writers/FSSpool/AnyBatcher.mm
Labels: build, comp/santad, size/xs, lang/objc++

#525 Cleanup spool tmp dir on fsspool construction
  Source/santad/Logs/EndpointSecurity/Writers/FSSpool/fsspool.h
  Source/santad/Logs/EndpointSecurity/Writers/FSSpool/fsspool_test.mm
Labels: comp/santad, size/s, lang/objc++

#529 Add digest to protostream encoding
  Source/santactl/BUILD
  Source/santactl/Commands/SNTCommandPrintLog.mm
  Source/santad/Logs/EndpointSecurity/Writers/FSSpool/BUILD
  Source/santad/Logs/EndpointSecurity/Writers/FSSpool/StreamBatcher.mm
Labels: comp/santad, comp/santactl, size/s, lang/objc++

#528 telemetry export: post to cloud bucket
  Source/common/BUILD
  Source/common/SNTXPCSyncServiceInterface.h
  Source/common/SNTXPCSyncServiceInterface.mm
  Source/santad/Logs/EndpointSecurity/Logger.mm
  Source/santad/SNTSyncdQueue.h
  Source/santad/SNTSyncdQueue.mm
  Source/santasyncservice/BUILD
  Source/santasyncservice/SNTStreamingMultipartFormData.h
  Source/santasyncservice/SNTStreamingMultipartFormData.mm
  Source/santasyncservice/SNTStreamingMultipartFormDataTest.mm
  Source/santasyncservice/SNTSyncService.mm
Labels: comp/santad, comp/santasyncservice, size/l, lang/objc++, comp/common

#533 ci: Merge test and build phases
  .github/workflows/ci.yml
Labels: size/s, workflows

#535 ci: Move flaky test workflow to 3am EST
  .github/workflows/continuous.yml
Labels: size/s, workflows

#536 telemetry: stream multiple files
  Source/common/SNTXPCSyncServiceInterface.h
  Source/common/SNTXPCSyncServiceInterface.mm
  Source/santad/Logs/EndpointSecurity/Logger.mm
  Source/santad/SNTSyncdQueue.h
  Source/santad/SNTSyncdQueue.mm
  Source/santasyncservice/SNTStreamingMultipartFormData.h
  Source/santasyncservice/SNTStreamingMultipartFormData.mm
  Source/santasyncservice/SNTStreamingMultipartFormDataTest.mm
  Source/santasyncservice/SNTSyncService.mm
Labels: comp/santad, comp/santasyncservice, size/m, lang/objc++, comp/common

#538 santad: Add sending process to tamper resistance logs
  Source/common/String.h
  Source/santad/EventProviders/SNTEndpointSecurityTamperResistance.mm
Labels: comp/santad, size/s, lang/objc++, comp/common

#539 docs: Temporarily use NPS docusaurus-plugin-llms plugin
  docs/docusaurus.config.ts
  docs/package.json
  docs/pnpm-lock.yaml
Labels: docs, size/s

#540 Pin all actions in workflows
  .github/workflows/check-markdown.yml
  .github/workflows/sanitizers.yml
Labels: size/xs, workflows

#544 Support compressed stream in santactl printlog
  Source/common/ScopedFile.h
  Source/common/ScopedFileTest.mm
  Source/santactl/BUILD
  Source/santactl/Commands/SNTCommandPrintLog.mm
Labels: comp/santactl, size/m, lang/objc++, comp/common

#553 Cookbook: Update slack rules to better handle helper binaries
  docs/docs/cookbook/faa.md
Labels: docs, size/s, cookbook, Documentation

#557 telemetry export: remove extra dot from file extension
  Source/santad/Logs/EndpointSecurity/Logger.mm
  Source/santad/Logs/EndpointSecurity/LoggerTest.mm
Labels: comp/santad, size/s, lang/objc++

#561 Add a make target for making dev releases
  Makefile
Labels: size/xs
