Repository northpolesec/santa, pull requests merged in 2025-04, with the labels that each got.

#331 Switch event upload implementation from recursive to iterative
  Source/santad/DataLayer/SNTEventTable.m
  Source/santasyncservice/SNTSyncEventUpload.mm
Labels: bug, comp/santad, comp/santasyncservice, size/s, lang/objc, lang/objc++

#335 Disable tamper protection for debug builds
  Source/santad/EventProviders/SNTEndpointSecurityTamperResistance.mm
  Source/santad/Santad.mm
Labels: comp/santad, size/xs, lang/objc++

#336 santactl/status: better output for push notification status
  Source/common/SNTCommonEnums.h
  Source/common/SNTXPCSyncServiceInterface.h
  Source/common/SNTXPCUnprivilegedControlInterface.h
  Source/santactl/Commands/SNTCommandStatus.m
  Source/santad/SNTDaemonControlController.mm
  Source/santasyncservice/SNTSyncManager.h
  Source/santasyncservice/SNTSyncManager.m
  Source/santasyncservice/SNTSyncService.mm
Labels: comp/santad, comp/santasyncservice, comp/santactl, size/s, lang/objc, lang/objc++, comp/common

#338 Fix unused variable error in debug builds
  Source/santad/Santad.mm
Labels: comp/santad, size/xs, lang/objc++

#337 Add unique index to the filesha256 column in the events table
  Source/santad/DataLayer/SNTDatabaseTable.m
  Source/santad/DataLayer/SNTEventTable.m
  Source/santad/DataLayer/SNTEventTableTest.m
Labels: comp/santad, size/s, lang/objc

#341 santad: use santa cache for event upload backoff
  Source/santad/BUILD
  Source/santad/SNTSyncdQueue.mm
  Source/santad/SNTSyncdQueueTest.mm
Labels: comp/santad, size/m, lang/objc++

#339 general: Add SNTError, use where appropriate
  Source/common/BUILD
  Source/common/SNTCommonEnums.h
  Source/common/SNTConfigurator.m
  Source/common/SNTError.h
  Source/common/SNTError.m
  Source/common/SNTFileInfo.m
  Source/common/SNTRule.h
  Source/common/SNTRule.m
  Source/common/SNTRuleTest.m
  Source/santactl/Commands/SNTCommandRule.m
  Source/santad/BUILD
  Source/santad/DataLayer/SNTRuleTable.m
  Source/santad/DataLayer/SNTRuleTableTest.m
  Source/santad/DataLayer/WatchItems.mm
  Source/santad/SNTDaemonControlController.mm
  Source/santad/SNTExecutionController.mm
  Source/santad/SNTPolicyProcessorTest.mm
  Source/santasyncservice/BUILD
  Source/santasyncservice/SNTSyncStage.mm
Labels: configurator, comp/santad, comp/santasyncservice, comp/santactl, size/l, lang/objc, lang/objc++, comp/common

#345 Add autoreleasepool per rule download batch
  Source/santasyncservice/SNTSyncRuleDownload.mm
Labels: comp/santasyncservice, size/s, lang/objc++

#347 Use clang-format-19 on ubuntu runner
  .github/workflows/ci.yml
  Source/common/TestUtils.mm
  Source/santad/EventProviders/EndpointSecurity/EnrichedTypes.h
  Source/santad/EventProviders/EndpointSecurity/MessageTest.mm
  Source/santad/EventProviders/SNTEndpointSecurityAuthorizer.mm
  Source/santad/EventProviders/SNTEndpointSecurityClientTest.mm
  Source/santad/EventProviders/SNTEndpointSecurityDeviceManager.mm
  Source/santad/EventProviders/SNTEndpointSecurityTamperResistance.mm
  Source/santad/SNTExecutionControllerTest.mm
Labels: build, comp/santad, size/s, workflows, lang/objc++, comp/common

#350 project: Update README.md
  README.md
Labels: docs, size/s

#349 project: Fix build visibility
  Source/common/BUILD
  Source/gui/BUILD
  Source/santabundleservice/BUILD
  Source/santactl/BUILD
  Source/santad/BUILD
  Source/santametricservice/BUILD
  Source/santasyncservice/BUILD
Labels: comp/santad, comp/gui, comp/santasyncservice, comp/santactl, size/s, comp/santabundleservice, comp/santametricservice, comp/common

#340 santactl: Add 'doctor' subcommand
  .clang-format
  Source/common/SNTConfigurator.h
  Source/common/SNTConfigurator.m
  Source/common/SystemResources.h
  Source/common/SystemResources.mm
  Source/santactl/BUILD
  Source/santactl/Commands/SNTCommandBundleInfo.m
  Source/santactl/Commands/SNTCommandDoctor.mm
  Source/santad/ProcessTree/BUILD
  Source/santad/ProcessTree/process_tree_macos.mm
  Source/santametricservice/Writers/SNTMetricFileWriter.h
  Source/santametricservice/Writers/SNTMetricFileWriterTest.m
  Source/santametricservice/Writers/SNTMetricWriter.h
  Source/santasyncservice/SNTPushNotificationsTracker.h
Labels: configurator, comp/santad, comp/santasyncservice, comp/santactl, size/m, lang/objc, lang/objc++, comp/santametricservice, comp/common

#346 Add config bundling
  Source/common/BUILD
  Source/common/EncodeEntitlements.h
  Source/common/MOLAuthenticatingURLSession.m
  Source/common/RingBuffer.h
  Source/common/RingBufferTest.mm
  Source/common/SNTConfigBundle.h
  Source/common/SNTConfigBundle.mm
  Source/common/SNTConfigBundleTest.mm
  Source/common/SNTError.m
  Source/common/SNTXPCControlInterface.h
  Source/common/String.h
  Source/santad/DataLayer/SNTDatabaseTable.h
  Source/santad/DataLayer/SNTDatabaseTable.m
  Source/santad/DataLayer/SNTEventTable.m
  Source/santad/EventProviders/AuthResultCacheTest.mm
  Source/santad/EventProviders/DiskArbitrationTestUtil.h
  Source/santad/EventProviders/FAAPolicyProcessorTest.mm
  Source/santad/EventProviders/RateLimiterTest.mm
  Source/santad/Logs/EndpointSecurity/LoggerTest.mm
  Source/santad/Logs/EndpointSecurity/Writers/File.h
  Source/santad/ProcessTree/SNTEndpointSecurityAdapter.mm
  Source/santad/ProcessTree/process_tree_macos.mm
  Source/santad/SNTDaemonControlController.mm
  Source/santad/SNTNotificationQueue.mm
  Source/santad/SNTPolicyProcessor.mm
  Source/santad/SNTPolicyProcessorTest.mm
  Source/santad/SNTSyncdQueueTest.mm
  Source/santad/main.mm
  Source/santasyncservice/BUILD
  Source/santasyncservice/SNTSyncConfigBundle.h
  Source/santasyncservice/SNTSyncConfigBundle.mm
  Source/santasyncservice/SNTSyncConfigBundleTest.mm
  Source/santasyncservice/SNTSyncManager.m
  Source/santasyncservice/SNTSyncPostflight.mm
  Source/santasyncservice/SNTSyncRuleDownload.mm
  Source/santasyncservice/SNTSyncStage.mm
  Source/santasyncservice/SNTSyncTest.mm
Labels: comp/santad, comp/santasyncservice, size/xl, lang/objc, lang/objc++, comp/common

#348 Add handling for TCC Modify telemetry event
  Source/common/Platform.h
  Source/common/TelemetryEventMap.h
  Source/common/TelemetryEventMap.mm
  Source/common/TelemetryEventMapTest.mm
  Source/common/santa.proto
  Source/santad/EventProviders/EndpointSecurity/EnrichedTypes.h
  Source/santad/EventProviders/EndpointSecurity/Enricher.mm
  Source/santad/EventProviders/SNTEndpointSecurityRecorder.mm
  Source/santad/EventProviders/SNTEndpointSecurityRecorderTest.mm
  Source/santad/Logs/EndpointSecurity/Serializers/BasicString.h
  Source/santad/Logs/EndpointSecurity/Serializers/BasicString.mm
  Source/santad/Logs/EndpointSecurity/Serializers/Empty.h
  Source/santad/Logs/EndpointSecurity/Serializers/Empty.mm
  Source/santad/Logs/EndpointSecurity/Serializers/Protobuf.h
  Source/santad/Logs/EndpointSecurity/Serializers/Protobuf.mm
  Source/santad/Logs/EndpointSecurity/Serializers/Serializer.h
  Source/santad/Metrics.mm
  Source/santad/MetricsTest.mm
Labels: comp/santad, telemetry, size/m, lang/objc++, comp/common

#351 Add serializations for TCC modification events
  Source/common/TestUtils.mm
  Source/santad/Logs/EndpointSecurity/Serializers/BasicString.mm
  Source/santad/Logs/EndpointSecurity/Serializers/BasicStringTest.mm
  Source/santad/Logs/EndpointSecurity/Serializers/Protobuf.mm
  Source/santad/Logs/EndpointSecurity/Serializers/ProtobufTest.mm
  Source/santad/testdata/protobuf/v8/tcc_modify.json
  Source/santad/testdata/protobuf/v8/tcc_modify_null_everything.json
  Source/santad/testdata/protobuf/v8/tcc_modify_null_trigger.json
  Source/santad/testdata/protobuf/v8/tcc_modify_null_trigger_responsible.json
Labels: comp/santad, telemetry, size/l, lang/objc++, comp/common

#353 Create a new build and entitlements for live debugging
  BUILD
  Source/santad/BUILD
  Source/santad/com.northpolesec.santa.daemon.systemextension-debugger.entitlements
Labels: build, comp/santad, size/s

#354 Stats state
  Source/common/SNTConfigurator.h
  Source/common/SNTConfigurator.m
  Source/common/SNTConfiguratorTest.m
  Source/common/SNTXPCControlInterface.h
  Source/santad/SNTDaemonControlController.mm
  Source/santasyncservice/BUILD
  Source/santasyncservice/SNTSyncService.mm
Labels: configurator, comp/santad, comp/santasyncservice, size/m, lang/objc, lang/objc++, comp/common

#357 Fix crashing tests due to incorrect releasing behaviour
  Source/santad/SNTNotificationQueueTest.mm
Labels: comp/santad, 🧪 testing, size/xs, lang/objc++

#358 test: Fix the unitialized cache values when using ASAN
  Source/santad/Metrics.mm
Labels: comp/santad, 🧪 testing, size/xs, lang/objc++

#355 sync service: fix needless spin up
  Source/gui/SNTNotificationManager.m
Labels: comp/gui, size/xs, lang/objc

#359 build: Switch to cc_proto_library from com_google_protobuf
  Source/common/BUILD
  Source/santad/Logs/EndpointSecurity/Writers/FSSpool/BUILD
Labels: comp/santad, size/xs, comp/common

#360 Expand sync service connection state to handle more config keys
  Source/common/BUILD
  Source/common/SNTConfigurator.m
  Source/santad/BUILD
  Source/santad/SNTSyncdQueue.h
  Source/santad/SNTSyncdQueue.mm
  Source/santad/Santad.mm
  Source/santasyncservice/SNTSyncManager.m
Labels: configurator, comp/santad, comp/santasyncservice, size/m, lang/objc, lang/objc++, comp/common

#364 build: fix clangd visibility for generated code
  BUILD
  Makefile
Labels: size/s

#366 rule download: add support for notification app name
  MODULE.bazel
  Source/santasyncservice/SNTSyncRuleDownload.mm
  Source/santasyncservice/SNTSyncTest.mm
  Source/santasyncservice/testdata/sync_ruledownload_batch1.json
  Source/santasyncservice/testdata/sync_ruledownload_batch2.json
Labels: comp/santasyncservice, size/s, lang/objc++

#367 gui: truncate accessed path in FAA dialog, add full path to More Details popup
  Source/gui/SNTFileAccessMessageWindowView.swift
  Source/gui/SNTMessageView.swift
Labels: comp/gui, size/s, lang/swift

#368 santad: Fix 'UNIQUE constraint failed' and 'Unable to compute hash' errors
  Source/santad/DataLayer/SNTEventTable.m
  Source/santad/DataLayer/SNTEventTableTest.m
  Source/santad/DataLayer/SNTRuleTable.m
Labels: comp/santad, size/s, lang/objc

#369 Add serializations for XProtect events
  Source/common/santa.proto
  Source/santad/Logs/EndpointSecurity/Serializers/BasicString.mm
  Source/santad/Logs/EndpointSecurity/Serializers/BasicStringTest.mm
  Source/santad/Logs/EndpointSecurity/Serializers/Protobuf.mm
  Source/santad/Logs/EndpointSecurity/Serializers/ProtobufTest.mm
  Source/santad/testdata/protobuf/v6/xp_detected.json
  Source/santad/testdata/protobuf/v6/xp_remediated.json
  Source/santad/testdata/protobuf/v6/xp_remediated_null_token.json
  Source/santad/testdata/protobuf/v7/xp_detected.json
  Source/santad/testdata/protobuf/v7/xp_remediated.json
  Source/santad/testdata/protobuf/v7/xp_remediated_null_token.json
  Source/santad/testdata/protobuf/v8/xp_detected.json
  Source/santad/testdata/protobuf/v8/xp_remediated.json
  Source/santad/testdata/protobuf/v8/xp_remediated_null_token.json
Labels: comp/santad, telemetry, size/l, lang/objc++, comp/common

#370 Add the Copy Details button to main block window
  Source/gui/Resources/de.lproj/Localizable.strings
  Source/gui/Resources/en.lproj/Localizable.strings
  Source/gui/Resources/ja.lproj/Localizable.strings
  Source/gui/Resources/ru.lproj/Localizable.strings
  Source/gui/Resources/uk.lproj/Localizable.strings
  Source/gui/SNTBinaryMessageWindowView.swift
Labels: comp/gui, size/s, lang/swift

#371 Add animation to copy details button
  Source/gui/SNTBinaryMessageWindowView.swift
Labels: comp/gui, size/s, lang/swift

#372 gui: Update default banned message
  Source/common/SNTBlockMessage.m
  Source/gui/Resources/de.lproj/Localizable.strings
  Source/gui/Resources/en.lproj/Localizable.strings
  Source/gui/Resources/ja.lproj/Localizable.strings
  Source/gui/Resources/ru.lproj/Localizable.strings
  Source/gui/Resources/uk.lproj/Localizable.strings
Labels: comp/gui, size/s, lang/objc, comp/common

#373 gui: Fix labels around time picker
  Source/gui/Resources/en.lproj/Localizable.strings
Labels: comp/gui, size/xs

#378 Fixed up background apps plist example
  docs/docs/deployment/profile-background.md
Labels: docs, size/m

#382 docs: Add algolia config
  docs/docusaurus.config.ts
  docs/src/components/ConfigKeyList/TypeBadge.tsx
Labels: docs, size/s

#381 docs: highlight santa profile content, update sizing
  docs/docs/deployment/profile-configuration.md
  docs/src/css/custom.css
Labels: docs, size/xs
