Repository northpolesec/santa, pull requests merged in 2025-01, with the labels that each got.

#195 Project: Update PR labeler, dependabot config, upgrade to bazel v8
  .bazelversion
  .github/dependabot.yml
  .github/labeler-pr.yml
  .github/workflows/labeler.yml
Labels: size/s

#196 sync: Populate sync_type field in postflight
  MODULE.bazel
  Source/santasyncservice/SNTSyncPostflight.mm
Labels: comp/santasyncservice, size/xs, lang/objc++

#199 santactl status: fix hang when sync server is unresponsive
  Source/santad/SNTDaemonControlController.mm
Labels: comp/santad, size/xs, lang/objc++

#200 config: use CFPreferencesCopyAppValue and CFPreferencesAppValueIsForced
  Source/common/SNTConfigurator.m
Labels: configurator, size/s, lang/objc, comp/common

#162 apns: add basic message handling
  Source/santasyncservice/SNTPushClientAPNS.m
  Source/santasyncservice/SNTPushNotifications.h
  Source/santasyncservice/SNTSyncManager.m
  Source/santasyncservice/SNTSyncPreflight.mm
  Source/santasyncservice/SNTSyncState.h
Labels: comp/santasyncservice, size/s, lang/objc, lang/objc++

#188 Adopt ring buf for queued notifications
  Source/common/RingBufferTest.mm
  Source/santad/BUILD
  Source/santad/SNTNotificationQueue.h
  Source/santad/SNTNotificationQueue.m
  Source/santad/SNTNotificationQueue.mm
  Source/santad/SNTNotificationQueueTest.mm
  Source/santad/SantadDeps.mm
Labels: comp/santad, size/l, lang/objc, lang/objc++, comp/common

#204 Add mandatory load statements to prepare for upcoming Bazel changes
  Fuzzing/fuzzing.bzl
  MODULE.bazel
  Source/common/BUILD
  Source/gui/BUILD
  Source/santabundleservice/BUILD
  Source/santactl/BUILD
  Source/santad/BUILD
  Source/santad/Logs/EndpointSecurity/Writers/FSSpool/BUILD
  Source/santad/ProcessTree/BUILD
  Source/santad/ProcessTree/annotations/BUILD
  Source/santametricservice/BUILD
  Source/santametricservice/Formats/BUILD
  Source/santametricservice/Writers/BUILD
  Source/santasyncservice/BUILD
  helper.bzl
Labels: comp/santad, comp/gui, comp/santasyncservice, comp/santactl, size/s, comp/santabundleservice, comp/santametricservice, comp/common

#207 Bump dependency versions
  MODULE.bazel
Labels: size/s

#203 Add an optional step to add a TeamID rule for NPS Santa
  docs/deployment/migration.md
Labels: docs, size/xs

#208 Standardized naming for critical sections based on mutex or GCD queue
  Source/santad/EventProviders/RateLimiter.h
  Source/santad/EventProviders/RateLimiter.mm
  Source/santad/EventProviders/RateLimiterTest.mm
  Source/santad/EventProviders/SNTEndpointSecurityFileAccessAuthorizer.mm
  Source/santad/Logs/EndpointSecurity/Writers/File.h
  Source/santad/Logs/EndpointSecurity/Writers/File.mm
  Source/santad/Logs/EndpointSecurity/Writers/FileTest.mm
  Source/santad/Logs/EndpointSecurity/Writers/Spool.h
  Source/santad/Logs/EndpointSecurity/Writers/Spool.mm
  Source/santad/Logs/EndpointSecurity/Writers/SpoolTest.mm
  Source/santad/Metrics.h
  Source/santad/Metrics.mm
Labels: comp/santad, size/m, lang/objc++

#209 Clarify uniqueness properties of PID + pidversion
  Source/common/santa.proto
Labels: size/xs, comp/common

#210 common: Add bootSessionUUID to SNTSystemInfo
  Source/common/SNTSystemInfo.h
  Source/common/SNTSystemInfo.m
Labels: size/s, lang/objc, comp/common

#213 Remove pending standalone notifications on UI connection invalidation
  Source/santad/SNTExecutionController.mm
  Source/santad/SNTNotificationQueue.h
  Source/santad/SNTNotificationQueue.mm
  Source/santad/SNTNotificationQueueTest.mm
  docs/known-limitations.md
Labels: docs, comp/santad, size/m, lang/objc++

#212 Ensure that non-glob faa path patterns are watched
  Source/santad/DataLayer/WatchItems.mm
  Source/santad/DataLayer/WatchItemsTest.mm
Labels: comp/santad, size/s, lang/objc++

#215 Address more future mandatory load requirements for Bazel
  MODULE.bazel
  helper.bzl
Labels: size/xs

#214 Add back code to watch changes to our defaults domain
  Source/common/SNTConfigurator.m
Labels: configurator, size/xs, lang/objc, comp/common

#198 Add licenses back to santa/BUILD
  BUILD
Labels: size/xs

#217 gui: Fix open button appearing when it shouldn't.
  Source/gui/SNTBinaryMessageWindowView.swift
  Source/gui/SNTTestGUI.swift
  Source/santad/BUILD
Labels: comp/santad, comp/gui, size/s, lang/swift

#218 Config: Adjust perms to 0644 for sync-state.plist.
  Source/common/SNTConfigurator.m
Labels: configurator, size/xs, lang/objc, comp/common

#219 Ensure cached static rules in proper state on invalid configs
  Source/common/SNTConfigurator.m
Labels: configurator, size/xs, lang/objc, comp/common

#220 gui: Simplify logic for button presentation
  Source/gui/SNTBinaryMessageWindowView.swift
Labels: comp/gui, size/s, lang/swift

#221 Idempotent config states (pt1)
  Source/common/BUILD
  Source/common/CoderMacros.h
  Source/common/SNTConfigState.h
  Source/common/SNTConfigState.m
  Source/common/SNTXPCNotifierInterface.h
  Source/gui/BUILD
  Source/gui/SNTBinaryMessageWindowController.h
  Source/gui/SNTBinaryMessageWindowController.m
  Source/gui/SNTBinaryMessageWindowView.swift
  Source/gui/SNTNotificationManager.m
  Source/gui/SNTNotificationManagerTest.m
  Source/santad/BUILD
  Source/santad/SNTExecutionController.mm
  Source/santad/SNTNotificationQueue.h
  Source/santad/SNTNotificationQueue.mm
  Source/santad/SNTNotificationQueueTest.mm
  Source/santad/SNTPolicyProcessor.h
  Source/santad/SNTPolicyProcessor.mm
Labels: comp/santad, comp/gui, size/m, lang/objc, lang/objc++, lang/swift, comp/common

#223 Remove indirect Swift dependency in SNTBinaryMessageWindowView
  Source/gui/BUILD
Labels: comp/gui, size/xs

#224 Fix missing comma in gui/BUILD
  Source/gui/BUILD
Labels: comp/gui, size/xs

#225 Include line to forget receipt
  Conf/uninstall.sh
Labels: size/xs

#229 project: Add simple Makefile
  Makefile
  Source/common/BUILD
  Source/gui/BUILD
  Source/santad/BUILD
Labels: comp/santad, comp/gui, size/s, comp/common

#230 Fix some lint
  Source/gui/SNTNotificationManager.m
  Source/santad/Santad.mm
Labels: comp/santad, comp/gui, size/xs, lang/objc, lang/objc++

#234 Add boot session uuid to proto event logs
  Source/common/SNTSystemInfo.m
  Source/common/santa.proto
  Source/santad/BUILD
  Source/santad/Logs/EndpointSecurity/Serializers/Protobuf.mm
Labels: comp/santad, size/s, lang/objc, lang/objc++, comp/common

#233 Standardize encode/decode macros for NSSecureCoding
  Source/common/BUILD
  Source/common/CoderMacros.h
  Source/common/SNTDeviceEvent.m
  Source/common/SNTFileAccessEvent.m
  Source/common/SNTRule.m
  Source/common/SNTRuleIdentifiers.m
  Source/common/SNTStoredEvent.m
Labels: size/m, lang/objc, comp/common

#235 Print troubleshooting steps when santactl cannot connect to daemon
  Source/santactl/SNTCommandController.m
  docs/deployment/troubleshooting.md
Labels: docs, comp/santactl, size/m, lang/objc
