Repository northpolesec/santa, pull requests merged in 2025-09, with the labels that each got.

#567 docs: Add note about non removable system extensions
  docs/docs/deployment/profile-system-extension.md
Labels: docs, size/xs

#583 Support sending FAA rules over XPC from sync service to daemon
  Source/common/BUILD
  Source/common/SNTFileAccessRule.h
  Source/common/SNTFileAccessRule.mm
  Source/common/SNTXPCControlInterface.h
  Source/common/SNTXPCControlInterface.mm
  Source/santactl/Commands/SNTCommandRule.mm
  Source/santad/BUILD
  Source/santad/SNTDaemonControlController.mm
  Source/santasyncservice/SNTSyncRuleDownload.mm
  Source/santasyncservice/SNTSyncTest.mm
Labels: comp/santad, file access authorization, comp/santasyncservice, comp/santactl, size/m, lang/objc++, comp/common

#584 Add FAA rules received and processed counts
  MODULE.bazel
  Source/santasyncservice/SNTSyncPostflight.mm
  Source/santasyncservice/SNTSyncRuleDownload.mm
  Source/santasyncservice/SNTSyncState.h
Labels: file access authorization, comp/santasyncservice, size/s, lang/objc++

#585 Support changing FAA rate limiting variables via configuration
  Source/common/SNTConfigurator.h
  Source/common/SNTConfigurator.mm
  Source/santad/BUILD
  Source/santad/EventProviders/FAAPolicyProcessor.h
  Source/santad/EventProviders/FAAPolicyProcessor.mm
  Source/santad/EventProviders/FAAPolicyProcessorTest.mm
  Source/santad/EventProviders/MockFAAPolicyProcessor.h
  Source/santad/EventProviders/RateLimiter.h
  Source/santad/EventProviders/RateLimiter.mm
  Source/santad/EventProviders/RateLimiterTest.mm
  Source/santad/EventProviders/SNTEndpointSecurityProcessFileAccessAuthorizerTest.mm
  Source/santad/Santad.mm
  docs/src/lib/santaconfig.ts
Labels: docs, configurator, comp/santad, file access authorization, size/m, lang/objc++, comp/common

#594 Make fileinfo output helpful when rule was ignored due to dev signed code
  Source/santactl/BUILD
  Source/santactl/Commands/SNTCommandFileInfo.mm
Labels: comp/santactl, size/s, lang/objc++

#592 Timer improvements, allow FileAccessPolicyUpdateIntervalSec to be updated dynamically
  Source/common/BUILD
  Source/common/Timer.h
  Source/common/faa/BUILD
  Source/common/faa/WatchItems.h
  Source/common/faa/WatchItems.mm
  Source/common/faa/WatchItemsTest.mm
  Source/santad/Logs/EndpointSecurity/Logger.mm
  Source/santad/Logs/EndpointSecurity/LoggerTest.mm
  Source/santad/Santad.mm
Labels: comp/santad, size/m, lang/objc++, comp/common

#595 sync: allow a sync server to change the frequency of syncing to a min of 60 secs
  Source/common/SNTSyncConstants.h
  Source/common/SNTSyncConstants.mm
  Source/santasyncservice/SNTSyncPreflight.mm
Labels: comp/santasyncservice, size/xs, lang/objc++, comp/common
