Repository northpolesec/santa, pull requests merged in 2025-07, with the labels that each got.

#485 Ignore static rules in SNTRuleTableTest's implicit ordering test
  Source/santad/DataLayer/SNTRuleTableTest.m
Labels: comp/santad, cleanup, 🧪 testing, size/xs, lang/objc

#484 santactl/fileinfo: Better detect dev-signed binaries
  Source/common/BUILD
  Source/common/CertificateHelpers.h
  Source/common/CertificateHelpers.m
  Source/common/SNTFileInfo.m
  Source/santad/DataLayer/SNTRuleTable.mm
Labels: comp/santad, size/s, lang/objc, lang/objc++, comp/common

#486 santactl/doctor: Stop complaining about standard profile keys
  Source/common/SNTConfigurator.m
Labels: configurator, size/xs, lang/objc, comp/common

#487 docs: Update config profile format
  docs/docs/deployment/profile-configuration.md
  docs/src/components/ConfigGenerator/plist.ts
Labels: docs, size/m

#488 santactl/fileinfo: Fix mismatched signature error matching
  Source/common/BUILD
  Source/common/MOLCodesignChecker.h
  Source/common/MOLCodesignChecker.mm
  Source/common/SNTFileInfo.m
  Source/common/SNTFileInfoTest.m
Labels: size/s, lang/objc, lang/objc++, comp/common

#489 santad: Add more info in tamper protection logging
  Source/santad/EventProviders/SNTEndpointSecurityTamperResistance.mm
Labels: comp/santad, size/xs, lang/objc++

#492 build: Update cel-cpp version
  MODULE.bazel
Labels: size/xs

#499 Fix reason values in exec logs
  Source/santad/Logs/EndpointSecurity/Serializers/BasicString.mm
  Source/santad/Logs/EndpointSecurity/Serializers/BasicStringTest.mm
  Source/santad/Logs/EndpointSecurity/Serializers/Protobuf.mm
  Source/santad/Logs/EndpointSecurity/Serializers/ProtobufTest.mm
Labels: bug, comp/santad, telemetry, size/m, lang/objc++

#501 sync: If sync state is empty, request clean sync
  Source/common/SNTConfigurator.mm
  Source/santasyncservice/SNTSyncPreflight.mm
Labels: configurator, comp/santasyncservice, size/xs, lang/objc++, comp/common

#503 Cookbook: Add CEL rule to prevent users from disabling gatekeeper
  docs/docs/cookbook/cel.md
Labels: docs, size/xs, cookbook, Documentation

#462 Add new icons for 2025-07
  Source/gui/Resources/Images.xcassets/AppIcon.appiconset/santa-icon_128x128.png
  Source/gui/Resources/Images.xcassets/AppIcon.appiconset/santa-icon_128x128@2x.png
  Source/gui/Resources/Images.xcassets/AppIcon.appiconset/santa-icon_16x16.png
  Source/gui/Resources/Images.xcassets/AppIcon.appiconset/santa-icon_16x16@2x.png
  Source/gui/Resources/Images.xcassets/AppIcon.appiconset/santa-icon_256x256.png
  Source/gui/Resources/Images.xcassets/AppIcon.appiconset/santa-icon_256x256@2x.png
  Source/gui/Resources/Images.xcassets/AppIcon.appiconset/santa-icon_32x32.png
  Source/gui/Resources/Images.xcassets/AppIcon.appiconset/santa-icon_32x32@2x.png
  Source/gui/Resources/Images.xcassets/AppIcon.appiconset/santa-icon_512x512.png
  Source/gui/Resources/Images.xcassets/AppIcon.appiconset/santa-icon_512x512@2x.png
  Source/gui/Resources/Images.xcassets/MessageIcon.imageset/santa-hat-icon-16.png
  Source/gui/Resources/Images.xcassets/MessageIcon.imageset/santa-hat-icon-32.png
  Source/gui/Resources/Images.xcassets/MessageIcon.imageset/santa-hat-icon-64.png
  docs/static/img/favicon.ico
  docs/static/img/nps-logo-256.png
Labels: docs, comp/gui, size/xs

#504 Make sure clear cache operations have a connected ES client
  Source/santad/BUILD
  Source/santad/EventProviders/AuthResultCache.h
  Source/santad/EventProviders/AuthResultCache.mm
  Source/santad/EventProviders/AuthResultCacheTest.mm
  Source/santad/Santad.mm
  Source/santasyncservice/SNTSyncTest.mm
Labels: comp/santad, comp/santasyncservice, size/s, lang/objc++

#508 docs: Update logo, add announcement, theming
  README.md
  docs/docusaurus.config.ts
  docs/src/css/custom.css
  docs/static/img/santa-black.svg
  docs/static/img/santa-white.svg
  docs/static/img/santa.svg
Labels: docs, size/m

#509 Add nullability to stored events. Fix unwrap of missing data.
  .bazelrc
  Source/common/SNTStoredEvent.h
  Source/common/SNTStoredExecutionEvent.h
  Source/common/SNTStoredExecutionEvent.mm
  Source/common/SNTStoredFileAccessEvent.h
  Source/common/SNTStoredFileAccessEvent.mm
  Source/gui/SNTBinaryMessageWindowView.swift
  Source/gui/SNTFileAccessMessageWindowView.swift
Labels: comp/gui, size/m, lang/objc++, lang/swift, comp/common
