Repository northpolesec/santa, pull requests merged in 2025-02, with the labels that each got.

#231 Add support for parsing new proc-based FAA rules
  Source/santad/BUILD
  Source/santad/DataLayer/WatchItemPolicy.h
  Source/santad/DataLayer/WatchItemPolicyTest.mm
  Source/santad/DataLayer/WatchItems.h
  Source/santad/DataLayer/WatchItems.mm
  Source/santad/DataLayer/WatchItemsTest.mm
  Testing/fix.sh
Labels: comp/santad, size/m, lang/objc++

#236 Better type representation in FAA, standardize type alias naming
  Source/santad/DataLayer/WatchItemPolicy.h
  Source/santad/DataLayer/WatchItemPolicyTest.mm
  Source/santad/DataLayer/WatchItems.h
  Source/santad/DataLayer/WatchItems.mm
  Source/santad/DataLayer/WatchItemsTest.mm
  Source/santad/EventProviders/SNTEndpointSecurityClient.mm
  Source/santad/EventProviders/SNTEndpointSecurityClientBase.h
  Source/santad/EventProviders/SNTEndpointSecurityClientTest.mm
  Source/santad/EventProviders/SNTEndpointSecurityEventHandler.h
  Source/santad/EventProviders/SNTEndpointSecurityFileAccessAuthorizer.mm
  Source/santad/EventProviders/SNTEndpointSecurityFileAccessAuthorizerTest.mm
  Source/santad/EventProviders/SNTEndpointSecurityTamperResistance.mm
Labels: comp/santad, file access authorization, cleanup, size/m, lang/objc++

#238 Add support for Gatekeeper Override event
  Source/common/BUILD
  Source/common/TelemetryEventMap.h
  Source/common/TelemetryEventMap.mm
  Source/common/TelemetryEventMapTest.mm
  Source/common/santa.proto
  Source/santad/BUILD
  Source/santad/EventProviders/EndpointSecurity/EnrichedTypes.h
  Source/santad/EventProviders/EndpointSecurity/Enricher.mm
  Source/santad/EventProviders/SNTEndpointSecurityRecorder.mm
  Source/santad/EventProviders/SNTEndpointSecurityRecorderTest.mm
  Source/santad/Logs/EndpointSecurity/Serializers/BasicString.h
  Source/santad/Logs/EndpointSecurity/Serializers/BasicString.mm
  Source/santad/Logs/EndpointSecurity/Serializers/Empty.h
  Source/santad/Logs/EndpointSecurity/Serializers/Empty.mm
  Source/santad/Logs/EndpointSecurity/Serializers/Protobuf.h
  Source/santad/Logs/EndpointSecurity/Serializers/Protobuf.mm
  Source/santad/Logs/EndpointSecurity/Serializers/Serializer.h
  Source/santad/Metrics.mm
  Source/santad/MetricsTest.mm
Labels: comp/santad, size/m, lang/objc++, comp/common

#237 Initial infrastructure for Proc FAA client
  Makefile
  Source/santad/BUILD
  Source/santad/DataLayer/WatchItems.h
  Source/santad/DataLayer/WatchItems.mm
  Source/santad/EventProviders/EndpointSecurity/EndpointSecurityAPI.h
  Source/santad/EventProviders/EndpointSecurity/EndpointSecurityAPI.mm
  Source/santad/EventProviders/SNTEndpointSecurityAuthorizer.h
  Source/santad/EventProviders/SNTEndpointSecurityAuthorizer.mm
  Source/santad/EventProviders/SNTEndpointSecurityClient.mm
  Source/santad/EventProviders/SNTEndpointSecurityClientBase.h
  Source/santad/EventProviders/SNTEndpointSecurityEventHandler.h
  Source/santad/EventProviders/SNTEndpointSecurityFileAccessAuthorizer.h
  Source/santad/EventProviders/SNTEndpointSecurityFileAccessAuthorizerTest.mm
  Source/santad/EventProviders/SNTEndpointSecurityProcessFileAccessAuthorizer.h
  Source/santad/EventProviders/SNTEndpointSecurityProcessFileAccessAuthorizer.mm
  Source/santad/EventProviders/SNTEndpointSecurityProcessFileAccessAuthorizerTest.mm
  Source/santad/Metrics.h
  Source/santad/Metrics.mm
  Source/santad/MetricsTest.mm
  Source/santad/Santad.mm
Labels: comp/santad, file access authorization, size/m, lang/objc++

#239 Bump bazel version. Move hedron module to fork that fixes issues.
  .bazelversion
  MODULE.bazel
Labels: cleanup, size/s

#240 bump abseil version to 20250127
  MODULE.bazel
Labels: build, cleanup, size/xs

#241 Add serializations for Gatekeeper Override event
  Makefile
  Source/common/String.h
  Source/common/santa.proto
  Source/santad/BUILD
  Source/santad/Logs/EndpointSecurity/Serializers/BasicString.mm
  Source/santad/Logs/EndpointSecurity/Serializers/BasicStringTest.mm
  Source/santad/Logs/EndpointSecurity/Serializers/Protobuf.mm
  Source/santad/Logs/EndpointSecurity/Serializers/ProtobufTest.mm
  Source/santad/testdata/protobuf/v8/gatekeeper.json
  Source/santad/testdata/protobuf/v8/gatekeeper_path_only.json
Labels: comp/santad, telemetry, size/m, lang/objc++, comp/common

#242 Add Polaris stats collection, with documentation
  MODULE.bazel
  Source/common/SNTConfigurator.h
  Source/common/SNTConfigurator.m
  Source/common/SNTDropRootPrivs.h
  Source/common/SNTDropRootPrivs.m
  Source/common/SNTSystemInfo.h
  Source/santasyncservice/BUILD
  Source/santasyncservice/SNTPolaris.h
  Source/santasyncservice/SNTPolaris.mm
  Source/santasyncservice/SNTSyncService.mm
  docs/deployment/migration.md
  docs/deployment/stats.md
  docs/deployment/troubleshooting.md
Labels: docs, configurator, comp/santasyncservice, size/m, lang/objc, lang/objc++, comp/common

#244 Proc FAA - hookup probe and proc policy iteration interfaces
  Source/santad/BUILD
  Source/santad/DataLayer/WatchItems.h
  Source/santad/DataLayer/WatchItems.mm
  Source/santad/EventProviders/EndpointSecurity/EndpointSecurityAPI.mm
  Source/santad/EventProviders/SNTEndpointSecurityClient.mm
  Source/santad/EventProviders/SNTEndpointSecurityEventHandler.h
  Source/santad/EventProviders/SNTEndpointSecurityFileAccessAuthorizer.mm
  Source/santad/EventProviders/SNTEndpointSecurityProcessFileAccessAuthorizer.h
  Source/santad/EventProviders/SNTEndpointSecurityProcessFileAccessAuthorizer.mm
  Source/santad/Santad.mm
Labels: comp/santad, file access authorization, size/m, lang/objc++

#248 Project: Fix most deprecation warnings
  Source/common/MOLAuthenticatingURLSession.m
  Source/common/MOLCertificate.m
  Source/santad/ProcessTree/BUILD
  Source/santasyncservice/SNTSyncRuleDownload.mm
Labels: comp/santad, comp/santasyncservice, size/s, lang/objc, lang/objc++, comp/common

#251 Project: Remove allstar config
  .allstar/binary_artifacts.yaml
Labels: cleanup, size/s

#252 Fix nested designators.
  Source/santad/Logs/EndpointSecurity/Serializers/BasicStringTest.mm
  Source/santad/Logs/EndpointSecurity/Serializers/ProtobufTest.mm
Labels: comp/santad, size/s, lang/objc++

#254 Fix indirect dependency on gtest
  Source/santad/BUILD
Labels: comp/santad, size/xs

#255 project: Hide SecAsn1* deprecation warnings
  Source/common/MOLDERDecoder.m
Labels: size/xs, lang/objc, comp/common

#256 sync: Add define to store all event upload requests
  Source/santasyncservice/BUILD
  Source/santasyncservice/SNTSyncEventUpload.mm
  Source/santasyncservice/SNTSyncStage.mm
Labels: comp/santasyncservice, size/s, lang/objc++

#258 sync: Allow storing allll the sync stages
  Source/santasyncservice/BUILD
  Source/santasyncservice/SNTSyncEventUpload.mm
  Source/santasyncservice/SNTSyncStage.mm
Labels: comp/santasyncservice, size/s, lang/objc++

#257 Proc FAA - Implement probe, begin watching/tracking processes
  Source/santad/BUILD
  Source/santad/EventProviders/EndpointSecurity/MockEndpointSecurityAPI.h
  Source/santad/EventProviders/FAAPolicyProcessor.h
  Source/santad/EventProviders/FAAPolicyProcessor.mm
  Source/santad/EventProviders/FAAPolicyProcessorTest.mm
  Source/santad/EventProviders/MockFAAPolicyProcessor.h
  Source/santad/EventProviders/SNTEndpointSecurityFileAccessAuthorizer.h
  Source/santad/EventProviders/SNTEndpointSecurityFileAccessAuthorizer.mm
  Source/santad/EventProviders/SNTEndpointSecurityFileAccessAuthorizerTest.mm
  Source/santad/EventProviders/SNTEndpointSecurityProcessFileAccessAuthorizer.h
  Source/santad/EventProviders/SNTEndpointSecurityProcessFileAccessAuthorizer.mm
  Source/santad/EventProviders/SNTEndpointSecurityProcessFileAccessAuthorizerTest.mm
  Source/santad/Logs/EndpointSecurity/Serializers/Empty.h
  Source/santad/SNTDecisionCacheTest.mm
  Source/santad/Santad.mm
Labels: comp/santad, file access authorization, size/xl, lang/objc++

#259 Updated sync-protocol docs for northpole.dev
  docs/development/sync-protocol.md
Labels: docs, size/m

#262 stats: Fix allocation of protobuf message.
  Source/santactl/Commands/SNTCommandStatus.m
  Source/santasyncservice/SNTPolaris.mm
Labels: comp/santasyncservice, comp/santactl, size/s, lang/objc, lang/objc++

#264 move handling for path targets to the FAAPolicyProcessor
  Source/santad/BUILD
  Source/santad/EventProviders/FAAPolicyProcessor.h
  Source/santad/EventProviders/FAAPolicyProcessor.mm
  Source/santad/EventProviders/FAAPolicyProcessorTest.mm
  Source/santad/EventProviders/SNTEndpointSecurityFileAccessAuthorizer.mm
  Source/santad/EventProviders/SNTEndpointSecurityFileAccessAuthorizerTest.mm
Labels: comp/santad, cleanup, size/l, lang/objc++

#265 Add Contains method to PrefixTree
  Source/common/BUILD
  Source/common/PrefixTree.h
  Source/common/PrefixTreeTest.mm
Labels: size/s, lang/objc++, comp/common

#263 santactl/fileinfo: Add --entitlements flag and key.
  Source/santactl/Commands/SNTCommandFileInfo.m
Labels: comp/santactl, size/s, lang/objc

#269 Remove stat change detection metrics that are no longer necessary
  Source/common/SNTCommonEnums.h
  Source/santad/BUILD
  Source/santad/EventProviders/EndpointSecurity/Message.h
  Source/santad/EventProviders/EndpointSecurity/Message.mm
  Source/santad/Metrics.h
  Source/santad/Metrics.mm
  Source/santad/MetricsTest.mm
  Source/santad/SNTExecutionController.mm
  Source/santad/SNTPolicyProcessor.h
  Source/santad/SNTPolicyProcessor.mm
Labels: comp/santad, cleanup, size/m, lang/objc++, comp/common

#267 Proc FAA initial impl
  Source/santad/BUILD
  Source/santad/DataLayer/WatchItemPolicy.h
  Source/santad/DataLayer/WatchItems.h
  Source/santad/DataLayer/WatchItems.mm
  Source/santad/EventProviders/FAAPolicyProcessor.h
  Source/santad/EventProviders/FAAPolicyProcessor.mm
  Source/santad/EventProviders/FAAPolicyProcessorTest.mm
  Source/santad/EventProviders/MockFAAPolicyProcessor.h
  Source/santad/EventProviders/SNTEndpointSecurityEventHandler.h
  Source/santad/EventProviders/SNTEndpointSecurityFileAccessAuthorizer.h
  Source/santad/EventProviders/SNTEndpointSecurityFileAccessAuthorizer.mm
  Source/santad/EventProviders/SNTEndpointSecurityFileAccessAuthorizerTest.mm
  Source/santad/EventProviders/SNTEndpointSecurityProcessFileAccessAuthorizer.h
  Source/santad/EventProviders/SNTEndpointSecurityProcessFileAccessAuthorizer.mm
  Source/santad/EventProviders/SNTEndpointSecurityProcessFileAccessAuthorizerTest.mm
  Source/santad/Santad.mm
  Source/santad/SantadDeps.h
Labels: comp/santad, file access authorization, size/l, lang/objc++

#268 Fill in some fields in test code to address ASAN issue
  Source/santad/EventProviders/SNTEndpointSecurityClientTest.mm
Labels: comp/santad, cleanup, 🧪 testing, size/s, lang/objc++

#270 Add proper retain/release tracking in more tests
  Source/santad/EventProviders/EndpointSecurity/MockEndpointSecurityAPI.h
  Source/santad/EventProviders/SNTEndpointSecurityClientTest.mm
  Source/santad/SantadTest.mm
Labels: comp/santad, cleanup, 🧪 testing, size/s, lang/objc++

#272 PathTargets cleanup, check policy block params, test migration
  Source/common/TestUtils.h
  Source/santad/EventProviders/FAAPolicyProcessor.h
  Source/santad/EventProviders/FAAPolicyProcessor.mm
  Source/santad/EventProviders/FAAPolicyProcessorTest.mm
  Source/santad/EventProviders/MockFAAPolicyProcessor.h
  Source/santad/EventProviders/SNTEndpointSecurityFileAccessAuthorizer.mm
  Source/santad/EventProviders/SNTEndpointSecurityFileAccessAuthorizerTest.mm
  Source/santad/EventProviders/SNTEndpointSecurityProcessFileAccessAuthorizer.mm
Labels: comp/santad, file access authorization, 🧪 testing, size/l, lang/objc++, comp/common

#273 Support invert Proc FAA rules and ES layer caching when possible
  Source/santad/EventProviders/FAAPolicyProcessor.h
  Source/santad/EventProviders/FAAPolicyProcessor.mm
  Source/santad/EventProviders/FAAPolicyProcessorTest.mm
  Source/santad/EventProviders/SNTEndpointSecurityProcessFileAccessAuthorizer.mm
Labels: comp/santad, file access authorization, size/m, lang/objc++

#275 Update Link Pointer to Mobile Config
  docs/deployment/getting-started.md
Labels: docs, size/xs

#276 Update docs, add proc FAA beta messages, remove protobuf beta messages
  Source/common/santa.proto
  Source/santad/EventProviders/SNTEndpointSecurityProcessFileAccessAuthorizer.mm
  Source/santad/Logs/EndpointSecurity/Logger.mm
  docs/binaries/santa-gui.md
  docs/binaries/santametricservice.md
  docs/deployment/configuration.md
  docs/deployment/file-access-auth.md
  docs/known-limitations.md
Labels: docs, comp/santad, size/s, lang/objc++, comp/common

#277 Rename GK telemetry key name. Docs updates.
  Source/common/TelemetryEventMap.mm
  Source/common/TelemetryEventMapTest.mm
  docs/deployment/configuration.md
  docs/deployment/stats.md
Labels: docs, cleanup, size/xs, lang/objc++, comp/common

#279 Fix ES layer cacheability issue in Data FAA and Proc FAA
  Source/santad/EventProviders/FAAPolicyProcessor.mm
  Source/santad/EventProviders/SNTEndpointSecurityFileAccessAuthorizer.mm
Labels: bug, comp/santad, size/s, lang/objc++

#281 Update config docs for stats key
  docs/deployment/configuration.md
Labels: docs, size/xs
