Repository northpolesec/santa, pull requests merged in 2025-06, with the labels that each got.

#425 Keychain wrapper implementation
  Source/common/BUILD
  Source/common/Keychain.h
  Source/common/Keychain.mm
  Source/common/KeychainTest.mm
Labels: size/m, lang/objc++, comp/common, telemetry export

#431 Renaming signing timestamp fields
  MODULE.bazel
  Source/common/MOLCodesignChecker.h
  Source/common/MOLCodesignChecker.m
  Source/common/SNTCachedDecision.h
  Source/common/SNTStoredEvent.h
  Source/common/SNTStoredEvent.m
  Source/common/StoredEventHelpers.mm
  Source/santactl/Commands/SNTCommandFileInfo.m
  Source/santad/DataLayer/SNTRuleTable.m
  Source/santad/SNTExecutionController.mm
  Source/santad/SNTPolicyProcessor.mm
  Source/santasyncservice/SNTSyncEventUpload.mm
Labels: comp/santad, comp/santasyncservice, comp/santactl, size/s, lang/objc, lang/objc++, comp/common

#433 Fix rare crash when XPC connections go invalid before completion
  Source/common/MOLXPCConnection.m
Labels: bug, size/xs, lang/objc, comp/common

#434 santad: Integrate CEL rule processing into execution path
  Source/common/Memoizer.h
  Source/common/SNTCachedDecision.h
  Source/common/SNTCachedDecision.mm
  Source/common/SNTCommonEnums.h
  Source/common/SNTError.h
  Source/common/SNTRule.h
  Source/common/SNTRule.m
  Source/common/cel/Activation.h
  Source/common/cel/Activation.mm
  Source/common/cel/Evaluator.h
  Source/common/cel/Evaluator.mm
  Source/common/cel/Test.mm
  Source/common/cel/cel.proto
  Source/santad/BUILD
  Source/santad/DataLayer/SNTRuleTable.m
  Source/santad/EventProviders/AuthResultCache.mm
  Source/santad/EventProviders/EndpointSecurity/EndpointSecurityAPI.h
  Source/santad/EventProviders/EndpointSecurity/EndpointSecurityAPI.mm
  Source/santad/EventProviders/SNTEndpointSecurityAuthorizer.mm
  Source/santad/SNTExecutionController.mm
  Source/santad/SNTPolicyProcessor.h
  Source/santad/SNTPolicyProcessor.mm
  Source/santad/SNTPolicyProcessorTest.mm
Labels: comp/santad, size/m, lang/objc, lang/objc++, comp/common

#435 Adopt latest AWS export config
  MODULE.bazel
  Source/common/SNTConfigBundleTest.mm
  Source/common/SNTExportConfiguration.h
  Source/common/SNTExportConfiguration.mm
  Source/common/SNTExportConfigurationTest.mm
  Source/santasyncservice/SNTSyncPreflight.mm
Labels: comp/santasyncservice, size/m, lang/objc++, comp/common, telemetry export

#439 santad: If CEL rules fail and FailClosed is true, fail closed.
  Source/santad/SNTPolicyProcessor.mm
Labels: comp/santad, size/xs, lang/objc++

#443 Fix mem leak related to FAA paths with globs
  Source/santad/BUILD
  Source/santad/DataLayer/WatchItems.mm
Labels: bug, comp/santad, file access authorization, size/s, lang/objc++

#446 docs: Add info about rule policies
  docs/docs/features/binary-authorization.md
Labels: docs, size/m

#447 gui: Add distributed notifications for FAA blocks
  Source/gui/SNTNotificationManager.m
Labels: comp/gui, size/s, lang/objc

#449 docs: Upgrade docusaurus to 3.8.1
  docs/package.json
  docs/pnpm-lock.yaml
Labels: docs, size/xl

#451 Adopt rednose. Basic support for exporting telemetry to S3
  .github/workflows/ci.yml
  BUILD
  MODULE.bazel
  Source/common/SNTXPCSyncServiceInterface.h
  Source/santad/BUILD
  Source/santad/Logs/EndpointSecurity/Logger.mm
  Source/santad/SNTSyncdQueue.h
  Source/santad/SNTSyncdQueue.mm
  Source/santasyncservice/BUILD
  Source/santasyncservice/SNTSyncService.mm
Labels: comp/santad, comp/santasyncservice, size/s, workflows, lang/objc++, comp/common, telemetry export

#456 docs: Add basic docs for CEL policy
  docs/docs/features/binary-authorization.md
Labels: docs, size/s

#457 docs: Add missing AddedBadge to CEL policy
  docs/docs/features/binary-authorization.md
  docs/docs/features/telemetry.mdx
Labels: docs, size/s

#458 Support GCP export via Rednose
  MODULE.bazel
  Source/common/SNTExportConfiguration.h
  Source/common/SNTExportConfiguration.mm
  Source/common/SNTExportConfigurationTest.mm
  Source/santasyncservice/SNTSyncPreflight.mm
  Source/santasyncservice/SNTSyncService.mm
Labels: comp/santasyncservice, size/m, lang/objc++, comp/common, telemetry export

#459 santactl/fileinfo: Identify static rules
  Source/common/SNTConfigurator.m
  Source/common/SNTRule.h
  Source/common/SNTRule.m
Labels: configurator, size/s, lang/objc, comp/common

#461 Support multi-arch builds
  .bazelrc
  MODULE.bazel
Labels: build, size/s

#465 santactl/status: Show status for disabled features
  Source/santactl/Commands/SNTCommandStatus.m
Labels: comp/santactl, size/s, lang/objc

#469 santad: Check CEL expression validity before adding to DB
  Source/santad/BUILD
  Source/santad/DataLayer/SNTRuleTable.mm
  Source/santad/DataLayer/SNTRuleTableTest.m
  Source/santasyncservice/BUILD
  Source/santasyncservice/SNTSyncManager.mm
  Source/santasyncservice/SNTSyncRuleDownload.mm
  Source/santasyncservice/SNTSyncState.h
  Source/santasyncservice/SNTSyncTest.mm
Labels: comp/santad, comp/santasyncservice, size/s, lang/objc, lang/objc++

#470 santad: Move StaticRule processing into SNTRuleTable.
  Source/common/SNTConfigurator.h
  Source/common/SNTConfigurator.m
  Source/common/SNTRule.h
  Source/common/SNTRule.m
  Source/common/SNTRuleTest.mm
  Source/santactl/Commands/SNTCommandRule.m
  Source/santad/DataLayer/SNTRuleTable.h
  Source/santad/DataLayer/SNTRuleTable.mm
  Source/santad/DataLayer/SNTRuleTableTest.m
  Source/santad/SNTDaemonControlController.mm
  Source/santad/SNTExecutionController.h
  Source/santad/SNTExecutionController.mm
  Source/santad/SNTExecutionControllerTest.mm
  Source/santad/SNTPolicyProcessor.mm
  Source/santad/SNTPolicyProcessorTest.mm
  Source/santad/Santad.mm
Labels: configurator, comp/santad, comp/santactl, size/m, lang/objc, lang/objc++, comp/common

#471 readme: Update shields
  README.md
Labels: docs, size/s

#472 docs: add owner groups
  docs/src/components/ConfigGenerator/index.tsx
  docs/src/lib/santaconfig.ts
Labels: docs, size/s

#474 gui: Fix minor UI issue when an app sets empty bundle name
  Source/common/SNTFileInfo.m
  Source/gui/SNTBinaryMessageWindowView.swift
Labels: bug, comp/gui, size/s, lang/objc, lang/swift, comp/common

#478 build: Fix multi-arch builds for rust
  .bazelrc
  MODULE.bazel
Labels: size/s
